<div class="contact-form contact-form_bg">
    <div class="container">
        <div class="row contact-information">
            <div class="col-lg-7">
                <h3>
                    Tasked with developing a new App or building scalable
                    APi’s but don’t know how?
                </h3>

                <h4 class="brand-subheader">
                    We can help. Our experience with multiple clients has led us to
                    identify what makes App development and API implementation successful.
                </h4>

                <div class="contact-information__phone">
                    <div>Contact us anytime to get more information:</div>
                    <a href="tel:{{ .Params.contacts.phoneNumber }}" class="text-regular tex-bold">{{ .Params.contacts.phoneNumber }}</a>
                    <a href="mailto:{{ .Params.contacts.email }}" target="_blank" class="text-brand-secondary text-bold">{{ .Params.contacts.email }}</a>
                </div>

                <div class="info-banner">
                    <div class="info-banner__content">
                        <span>
                            <b>New Whitepaper</b> - “APIs and microservices are changing the way the world does business.”
                            <a href="https://techfabricstorage.blob.core.windows.net/ebooks/TechFabric.API%20Whitepaper.92419.pdf" target="_blank">
                                Get Now
                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <h4 class="brand-subheader">
                    Tell us about your project.
                </h4>

                <form action="/" name="contact" method="POST" data-netlify="true" class="row">
                    <div class="col-sm-6">
                        <label class="brand-control-label">First Name <span class="text-brand-primary">*</span></label>
                        <div class="input-group">
                            <input required="required" type="text" name="First Name" class="brand-control-input">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="brand-control-label">Last Name <span class="text-brand-primary">*</span></label>
                        <div class="input-group">
                            <input required="required" type="text" name="Last Name" class="brand-control-input">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="brand-control-label">Email <span class="text-brand-primary">*</span></label>
                        <div class="input-group">
                            <input required="required" type="email" name="Email" class="brand-control-input">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="brand-control-label">Phone <span class="text-brand-primary">*</span></label>
                        <div class="input-group">
                            <input required="required" type="text" name="Phone" class="brand-control-input">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="brand-control-label">Message <span class="text-brand-primary">*</span></label>
                        <div class="input-group">
                        <textarea class="brand-control-input brand-control-input_textarea" name="Message" cols="30"
                                  rows="10"></textarea>
                        </div>
                    </div>

                    <div class="col-12 flex-start">
                        <button type="submit" class="btn btn-prim">Send</button>

                        <div class="form-terms-and-conditions">
                            By submitting this form, you consent to receive marketing communications from TechFabric.
                            You can unsubscribe at anytime by clicking the unsubscribe link at the bottom of our emails.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
