<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer__contacts">
                <div class="footer__logo">
                    <img src="./images/TF-logo.svg" alt="">
                </div>

                <a href="/" class="footer__link">Gilbert, Arizona (HQ)</a>

                <span>1530 E. Williams Field Rd, Ste 101 Gilbert, AZ 85295</span>

                <div class="footer__phone">
                    <b><a href="tel:6028577370" class="text-regular">(602) 857-7370</a></b>
                    <b><a href="mailto:contact@techfabric.io" class="text-brand-secondary">contact@techfabric.io</a></b>
                </div>
            </div>
        </div>
    </div>
</div>
