<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 footer__contacts">
                <div class="footer__logo">
                    <img src="./images/TF-logo.svg" alt="">
                </div>

                <a href="/" class="footer__link">Gilbert, Arizona (HQ)</a>

                <span>1530 E. Williams Field Rd, Ste 101 Gilbert, AZ 85295</span>

                <div class="footer__phone">
                    <b><a href="tel:6028577370" class="text-regular">(602) 857-7370</a></b>
                    <b><a href="mailto:contact@techfabric.io" class="text-brand-secondary">contact@techfabric.io</a></b>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 footer__contacts">
                <h4>INDUSTRIES</h4>

                <ul>
                    <li><a href="/automotive">Automotive</a></li>
                    <li><a href="/finance">Finance</a></li>
                    <li><a href="/healthcare">Healthcare</a></li>
                    <li><a href="/ecommerce">eCommerce</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 footer__contacts">
                <h4>SOLUTIONS</h4>

                <ul>
                    <li><a href="/microservices-and-apis">Microservices & APIs</a></li>
                    <li><a href="/cloud-native-web-and-mobile-apps">Cloud-Native Web & Mobile Apps</a></li>
                    <li><a href="/machine-learning-ai-and-iot">Machine Learning, AI, & IoT</a></li>
                    <li><a href="/human-centered-design">Human Centered Design</a></li>
                    <li><a href="/devops-and-infrastructure">DevOps & Infrastructure</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 footer__contacts">
                <h4>RESOURCES</h4>

                <ul>
                    <li><a href="/Case Studies">Case Studies</a></li>
                    <li><a href="/technology">Technology</a></li>
                    <li><a href="/our-process">Our Process</a></li>
                    <li><a href="/our-team">Our Team</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 footer__contacts">
                <h4>OUR CULTURE</h4>

                <ul>
                    <li><a href="/blog">Visit Our Blog</a></li>

                    <li class="footer__social-networks">
                        <a href="linkedin.com" target="_blank">
                            <img src="./svg/linkedin.svg" alt="">
                        </a>
                        <a href="facebook.com" target="_blank">
                            <img src="./svg/facebook.svg" alt="">
                        </a>
                        <a href="instagram.com" target="_blank">
                            <img src="./svg/instagram.svg" alt="">
                        </a>
                        <a href="twitter.com" target="_blank">
                            <img src="./svg/twitter.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
