<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 footer__contacts">
                <div class="footer__logo">
                    <img src="./images/TF-logo.svg" alt="">
                </div>

                <a href="/" class="footer__link">Gilbert, Arizona (HQ)</a>

                <span>1530 E. Williams Field Rd, Ste 101 Gilbert, AZ 85295</span>

                <div class="footer__phone">
                    <a href="tel:6028577370" class="text-regular tex-bold">(602) 857-7370</a>
                    <a href="mailto:contact@techfabric.io" class="text-brand-secondary text-bold">contact@techfabric.io</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 footer__contacts">
                <h4>INDUSTRIES</h4>

                <ul>
                    <li><a href="/industries/automotive">Automotive</a></li>
                    <li><a href="/industries/ecommerce">eCommerce</a></li>
                    <li><a href="/industries/medical">Healthcare</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 footer__contacts">
                <h4>SOLUTIONS</h4>

                <ul>
                    <li><a href="/microservices-and-apis">Microservices & APIs</a></li>
                    <li><a href="/cloud-native-web-and-mobile-apps">Cloud-Native Web & Mobile Apps</a></li>
                    <li><a href="/machine-learning-ai-and-iot">Machine Learning, AI, & IoT</a></li>
                    <li><a href="/human-centered-design">Human Centered Design</a></li>
                    <li><a href="/devops-and-infrastructure">DevOps & Infrastructure</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 footer__contacts">
                <h4>RESOURCES</h4>

                <ul>
                    <li><a href="/case-studies/">Case Studies</a></li>
                    <li><a href="/technology">Technology</a></li>
                    <li><a href="/process">Our Process</a></li>
                    <li><a href="/team">Our Team</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 footer__contacts">
                <h4>OUR CULTURE</h4>

                <ul>
                    <li><a href="/blog">Visit Our Blog</a></li>

                    <li class="footer__social-networks">
                        <a href="linkedin.com" target="_blank">
                            <img src="./svg/linkedin.svg" alt="">
                        </a>
                        <a href="facebook.com" target="_blank">
                            <img src="./svg/facebook.svg" alt="">
                        </a>
                        <a href="instagram.com" target="_blank">
                            <img src="./svg/instagram.svg" alt="">
                        </a>
                        <a href="twitter.com" target="_blank">
                            <img src="./svg/twitter.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 footer__contacts">
                <div class="full-width gradient-border-top mb-5"></div>

                <div class="flex-center justify-content-between full-width">
                    <div>
                        © {{ now.Format "2006"}} TechFabric LLC. All Rights Reserved.
                    </div>

                    <a href="/#" class="text-brand-secondary">
                        Privacy Policy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
