<div class="header">
    <div class="container header__content">
        <a href="/" class="header__logo">
            <img src="./images/TF-logo.svg" alt="">
        </a>

        <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
        <label for="drawer-toggle" id="drawer-toggle-label"></label>

        <nav id="drawer">
            <ul class="header__menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                            <a class="header__menu-item" href="#">
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a class="header__menu-item" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ else }}
                        <li>
                            <a class="header__menu-item" href="{{ .URL }}">
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
