<div class="header">
    <div class="container header__content">
        <a href="/" class="header__logo">
            <img src="./images/TF-logo.svg" alt="">
        </a>

        <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>

        <label for="drawer-toggle" id="drawer-toggle-label" class="hamburger-icon">
            <span></span>
        </label>

        <div id="drawer">
            <div class="header__menu">
                <div class="header__menu-item" data-menu-open="industries">
                    Industries
                </div>
                <div class="header__menu-item" data-menu-open="solutions">
                    Solutions
                </div>
                <div class="header__menu-item" data-menu-open="resources">
                    Resources
                </div>
            </div>
        </div>
    </div>

    <div class="header__brand-menu" data-menu-id="industries">
        {{ $section := "industries" }}

        <div class="container">
            <h3 class="header__menu-title">
                {{ with .Site.GetPage $section }}{{ .Params.subtitle }}{{ end }}
            </h3>

            <div class="row">
                {{ range where .Site.Pages "Params.menu" $section }}
                <div class="col-sm-12 col-md-4 header__menu-section">
                        <div class="header__menu-section-container">
                            <div>
                                <h4 class="header__menu-section-title">{{ .Params.category }}</h4>
                                <p class="header__menu-section-description">
                                    {{ .Params.description }}
                                </p>

                                {{ if eq .Params.category "Automotive" }}
                                <div class="bordered-link header-menu-bordered-link">
                                    The Automotive Technology Sphere
                                </div>
                                {{ end }}
                            </div>

                            <a href="{{ .Permalink }}" class="btn btn-text btn-text_thin pull-right flex-end">
                                Learn More
                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="header__brand-menu" data-menu-id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 header__menu-section">

                    {{ $section := "solutions" }}

                    {{ with .Site.GetPage $section }}
                    <h3 class="header__menu-title">
                        {{ .Params.subtitle }}
                    </h3>
                    {{ end }}

                    <div class="row">
                        {{ range where .Site.Pages "Params.menu" $section }}
                            <div class="col-sm-12 col-md-6">
                                <h4 class="header__menu-section-title">{{ .Params.category }}</h4>
                                <p class="header__menu-section-description">
                                    {{ .Params.subtitle }}
                                    <a href="/solutions/#{{ .Params.title }}" class="btn btn-text btn-text_thin pull-right">
                                        Learn More
                                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                    </a>
                                </p>
                            </div>
                        {{ end }}
                    </div>
                </div>

                {{ with .Site.GetPage $section }}
                <div class="col-sm-12 col-md-4 header__menu-contacts-block">
                    <h3 class="text-brand-secondary text-light text-brand-secondary">Let’s Make Something Amazing Together</h3>

                    <div>
                        <p>
                            We’d love to talk about your next project and how we can help. Contact us today at:
                        </p>

                        <p>
                            <a href="tel:{{ .Params.contacts.phoneNumber }}" class="text-regular tex-bold">{{ .Params.contacts.phoneNumber }}</a>
                        </p>

                        <span>
                            <a href="mailto:{{ .Params.contacts.email }}" target="_blank" class="text-brand-secondary">{{ .Params.contacts.email }}</a>
                        </span>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="header__brand-menu" data-menu-id="resources">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 header__menu-section">
                    {{ $section := "resources" }}

                    <h3 class="header__menu-title">
                        {{ with .Site.GetPage $section }}{{ .Params.subtitle }}{{ end }}
                    </h3>

                    <h3 class="header__menu-title">We’re not just a tech partner, we’re tech teammates.</h3>

                    <div class="row">
                        {{ range where .Site.Pages "Params.menu" $section }}
                            <div class="col-sm-12 col-md-6">
                                <h4 class="header__menu-section-title">{{.Params.category}}</h4>
                                <p class="header__menu-section-description">
                                    {{ .Params.menuDescription }}

                                    <a href="{{ .Permalink }}" class="btn btn-text btn-text_thin pull-right">
                                        Learn More
                                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                    </a>
                                </p>
                            </div>
                        {{ end }}

                        <div class="col-sm-12 flex-center">
                            <div class="info-banner">
                                <div class="info-banner__content">
                                    <span>
                                        New eBook - “Automating at the Speed of Business”
                                        <a href="https://techfabricstorage.blob.core.windows.net/ebooks/FNL_TechFabric_eBook_General.pdf" target="_blank">
                                            Get Now
                                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 header__menu-contacts-block">
                    <h3>Our Culture</h3>

                    <ul class="header__culture">
                        <li><h3 class="text-light mb-2"><a href="https://blog.techfabric.io/">Blog</a></h3></li>
                        <li>See what inspires us and how life is like at TechFabric.</li>
                        <li>
                            <a href="/">
                                Visit Our Blog
                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                            </a>
                        </li>

                        <li class="footer__social-networks">
                            <a href="{{ .Params.social.linkedIn }}" target="_blank">
                                <img src="./svg/linkedin.svg" alt="">
                            </a>
                            <a href="{{ .Params.social.facebook }}" target="_blank">
                                <img src="./svg/facebook.svg" alt="">
                            </a>
                            <a href="{{ .Params.social.instagram }}" target="_blank">
                                <img src="./svg/instagram.svg" alt="">
                            </a>
                            <a href="{{ .Params.social.twitter }}" target="_blank">
                                <img src="./svg/twitter.svg" alt="">
                            </a>
                        </li>

                        <h3>Let’s Connect</h3>

                        <a href="/" class="footer__link">{{ .Params.contacts.city }}</a>

                        <div>{{ .Params.contacts.address }}, {{ .Params.contacts.state }} {{ .Params.contacts.zipCode }}</div>

                        <div class="footer__phone">
                            <a href="tel:{{ .Params.contacts.phoneNumber }}" class="text-regular">{{ .Params.contacts.phoneNumber }}</a>
                            <a href="mailto:{{ .Params.contacts.email }}" target="_blank" class="text-brand-secondary text-bold">{{ .Params.contacts.email }}</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
