<div id="{{.Params.title}}" class="list-page-item row mb-5">
    <div class="col-sm-4">
        <h5 class="text-uppercase mb-2">{{.Params.category}}</h5>
        <h2 class="mb-2"><b>{{.Title}}</b></h2>
        <h3 class="text-brand-primary mb-3">{{.Params.subtitle}}</h3>

        {{ if .Params.link.url }}
        <a href="{{ .Params.link.url }}" class="btn btn-text btn-text_thin">
            {{ .Params.link.title }}
            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
        </a>
        {{ end }}
    </div>

    <div class="list-page-item__illustration col-sm-4">
        {{ if .Params.thumbnailImage }}

        {{ printf `<img src="%s" alt="%s">` .Params.thumbnailImage .Title | safeHTML }}

        {{end}}
    </div>

    <div class="col-sm-4 markdown">
        {{ .Content }}
    </div>
</div>