.btn {
  font-size: 18px;
  @include text-bold;
  outline: none;
  border: none;
  padding: 12px 22px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  display: inline-flex;

  img {
    margin-left: 5px;
  }

  @include breakpoints-up-md {
    padding: 12px 32px;
  }

  &:hover {
    color: #fff;
  }

  &-prim {
    color: #fff;
    background-color: $brandPrimary;
  }

  &-text {
    color: $brandSecondary;
    background: transparent;
    font-size: 16px;

    &_thin {
      padding: 0;
    }
  }

  &-outlined {
    border: 1px solid $brandPrimary;
    border-radius: 4px;
    padding: 14px 12px;
    min-width: 224px;
    color: #fff;
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  &-outline-gradient {
    @include contrast-gradient;
    padding: 1px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    transition: width ease .3s;

    &__inner {
      background: #000;
      border-radius: inherit;
      display: flex;
      align-items: center;
      width: 48px;
      height: 48px;
      padding: 7px;
      transition: inherit;
    }

    &__text {
      display: none;
      padding-left: 10px;
    }

    &:hover {
      width: auto;

      .btn-outline-gradient__inner {
        width: auto;
        padding: 10px 20px 10px 7px;
      }

      .btn-outline-gradient__text {
        display: block;
      }
    }
  }
}
