.btn {
  font-size: 18px;
  @include text-bold;
  outline: none;
  border: none;
  padding: 12px 22px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;

  img {
    margin-left: 5px;
  }

  @include breakpoints-up-md {
    padding: 12px 32px;
  }

  &:hover {
    color: #fff;
  }

  &-prim {
    color: #fff;
    background-color: $brandPrimary;
  }

  &-text {
    color: $brandSecondary;
    background: transparent;
    font-size: 16px;

    &_thin {
      padding: 0;
    }
  }

  &-outlined {
    border: 1px solid $brandPrimary;
    border-radius: 4px;
    padding: 14px 12px;
    min-width: 224px;
    color: #fff;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
