#drawer-toggle {
  position: absolute;
  opacity: 0;
  transition: opacity .1s ease;

  &:hover {
    cursor: pointer;
  }
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  position: absolute;
  z-index: 11;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include breakpoints-up-md {
    display: none;
  }
}

.drawer-opened {
  #drawer {
    @media (max-width: 768px) {
      transform: translateX(0);
      opacity: 1;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
          width: 100%;
        }
      }
    }

    @media all and (max-width: 350px) {
      width: 100%;
    }
  }

  .page-body, .footer {
    display: none;
  }
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  background: #efefef;
  padding: 10px 10px 10px 50px;
  font-size: 30px;
  line-height: 30px;
  z-index: 0;
}

/* drawer menu pane - note the  width */

#drawer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  width: 100%;
  background: #080808;
  padding: 70px 0 20px;
  -webkit-overflow-scrolling: touch;
  opacity: 1;

  @include breakpoints-up-md {
    flex-direction: row;
    position: relative;
    left: auto;
    padding: 0;
    background: transparent;
    width: auto;
    top: auto;
    transform: translateX(0);
    opacity: 1;
  }
}

/* actual page content pane */

#page-content {
  margin-left: 0;
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}
