#dom_overlay_container {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#animation_container {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 320px;

  #canvas {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: inherit;
    height: initial !important;
  }
}