h1 {
  font-family: "Roboto Light", sans-serif;
  font-size: 27px;
  line-height: 35px;

  @include breakpoints-up-sm {
    font-size: 42px;
    line-height: 58px;
  }
}

h2 {
  font-size: 29px;
  margin-bottom: 38px;

  @include breakpoints-up-sm {
    font-size: 32px;
    line-height: 42px;
  }
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;

  @include breakpoints-up-sm {
    font-size: 26px;
    line-height: 38px;
  }
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  opacity: .5;

  @include breakpoints-up-sm {
    font-size: 16px;
  }
}

.text-transparent {
  color: #FFFFFF80;
}

.text {
  // Weight
  &-thin {
    @include text-thin;
  }

  &-light {
    @include text-light;
  }

  &-regular {
    @include text-regular;
  }

  &-medium {
    @include text-medium;
  }

  &-bold {
    @include text-bold;
  }

  // Alignment
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  // Color
  &-regular {
    color: #fff;
  }

  &-brand-primary {
    color: $brandPrimary;
  }

  &-brand-secondary {
    color: $brandSecondary;
  }
}

a {
  display: inline-flex;
  align-items: center;
  color: $brandSecondary;
  text-decoration: none;
  transition: opacity .1s ease;

  &:hover {
    text-decoration: none;
    color: $brandSecondary;
  }
}

b {
  @include text-bold;
}

p {
  margin-bottom: 25px;
  line-height: 24px;
}

.info-banner {
  @include contrast-gradient;
  border-radius: 40px;
  padding: 2px;

  &__content {
    background-color: #1A1A1A;
    color: #fff;
    font-size: 16px;
    letter-spacing: .1px;
    padding: 7px 20px;
    line-height: 1.5em;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoints-up-md {
      padding: 23px 20px 21px;
    }

    a {
      display: inline-flex;
    }
  }
}