.hero-block {
  &__title {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 200;

    @include breakpoints-up-lg {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 34px;
    line-height: 1.5em;
  }
}
