backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

publish_mode: editorial_workflow
media_folder: "site/static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - label: "Single Pages"
    description: 'A collection of editable single pages'
    name: "pages"
    editor:
      preview: false
    files:
      - label: "Landing Page"
        name: "landing"
        file: "site/content/_index.md"
        fields:
          - label: "Title"
            required: false
            name: "title"
            widget: "string"

          - label: "Call to Action"
            required: false
            name: "callToAction"
            widget: "markdown"

          - label: "Partners"
            required: false
            name: "partners"
            widget: "list"
            fields:
              - { label: "Logo", name: "logo", widget: "image" }
              - { label: "Link", name: "link", widget: "string" }

      - label: "Settings"
        name: "settings"
        file: "site/content/settings.md"
        fields:
          - label: "Contacts"
            name: "contacts"
            widget: "object"
            fields:
              - { label: "City", name: "city", widget: "string" }
              - { label: "Address", name: "address", widget: "string" }
              - { label: "Map URL", name: "mapUrl", widget: "string" }
              - { label: "State", name: "state", widget: "string" }
              - { label: "Zip Code", name: "zipCode", widget: "string" }
              - { label: "Phone Number", name: "phoneNumber", widget: "string" }
              - { label: "Email", name: "email", widget: "string" }
          - label: "Social Networks"
            name: "social"
            widget: "object"
            fields:
              - { label: "Linked In", name: "linkedIn", widget: "string" }
              - { label: "Facebook", name: "facebook", widget: "string" }
              - { label: "Instagram", name: "instagram", widget: "string" }
              - { label: "Twitter", name: "twitter", widget: "string" }

  - name: "case-studies" # Used in routes, e.g., /admin/collections/blog
    label: "Case Studies"
    folder: "site/content/case-studies"
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Menu"
        name: "menu"
        required: false,
        widget: "select"
        default: ["resources"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Menu Description"
        name: "menuDescription"
        widget: "string"
        required: false

      - label: "Preview"
        name: "preview"
        widget: "object"
        required: false
        fields:

        - label: "Logo"
          name: "logo"
          required: false
          widget: "image"

        - label: "Description"
          name: "description"
          widget: "string"

        - label: "Subtitle"
          name: "subtitle"
          required: false
          widget: "string"

        - label: "Category"
          name: "category"
          widget: "string"

      - label: "Detailed"
        name: "detailed"
        widget: "object"
        required: false
        fields:

        - label: "Hero Image"
          name: "heroImage"
          required: false
          widget: "image"

        - label: "The Client"
          name: "client"
          widget: "string"

        - label: "The Challenge"
          name: "challenge"
          widget: "string"

        - label: "Fullwidth Image"
          name: "fullwidthImage"
          required: false
          widget: "image"

        - label: "The Solution"
          name: "solution"
          widget: "string"

        - label: "The Result"
          name: "result"
          widget: "string"

      - label: "Colors"
        name: "colors"
        widget: "object"
        required: false
        fields:

        - label: "Background"
          name: "background"
          widget: "string"

        - label: "Heading color (HEX Code)"
          name: "heading"
          widget: "string"

        - label: "Footer color (HEX Code)"
          name: "footer"
          widget: "string"

  - name: "technology"
    label: "Technology"
    folder: "site/content/technology"
    create: true
    slug: "{{slug}}"
    fields:

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Description"
        name: "description"
        widget: "string"

      - label: "Menu"
        name: "menu"
        required: false,
        widget: "select"
        default: ["resources"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "process"
    label: "Process"
    folder: "site/content/process"
    create: true
    slug: "{{slug}}"
    fields:

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Menu"
        name: "menu"
        required: false,
        widget: "select"
        default: ["resources"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Menu Description>"
        name: "menuDescription"
        widget: "string"
        required: false

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "team"
    label: "Team"
    folder: "site/content/team"
    create: true
    slug: "{{slug}}"
    fields:

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Category"
        name: "category"
        widget: "string"
        required: false

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Menu"
        name: "menu"
        required: false
        widget: "select"
        default: ["resources"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Description"
        name: "description"
        widget: "string"
        required: false

      - label: "Menu Description>"
        name: "menuDescription"
        widget: "string"
        required: false

  - name: "industries"
    label: "Industries"
    folder: "site/content/industries"
    create: true
    slug: "{{slug}}"
    fields:

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Description"
        name: "description"
        widget: "string"

      - label: "Case Study"
        name: "caseStudy"
        widget: "object"
        fields:

          - label: "Logo"
            name: "logo"
            required: false
            widget: "image"

          - label: "Title"
            name: "title"
            widget: "string"

          - label: "Description"
            name: "description"
            widget: "string"

          - label: "Image Right"
            name: "imageRight"
            required: false
            widget: "image"

          - label: "Image Bottom"
            name: "imageBottom"
            required: false
            widget: "image"

          - label: "URL"
            name: "url"
            widget: "string"

      - label: "Menu"
        name: "menu"
        required: false,
        widget: "select"
        default: ["industries"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "solutions"
    identifier_field: "category"
    label: "Solutions"
    folder: "site/content/solutions"
    template: "technology"
    create: true
    slug: "{{slug}}"
    fields:

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Link"
        name: "link"
        required: false
        widget: "object"
        fields:

          - label: "Title"
            name: "title"
            required: false
            widget: "string"

          - label: "URL"
            name: "url"
            required: false
            widget: "string"

      - label: "Menu"
        name: "menu"
        required: false,
        widget: "select"
        default: ["solutions"]
        options: ["none", "industries", "solutions", "resources"]

      - label: "Body"
        name: "body"
        widget: "markdown"
