backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

publish_mode: editorial_workflow
media_folder: "site/static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: "case-studies" # Used in routes, e.g., /admin/collections/blog
    label: "Case Studies" # Used in the UI
    folder: "site/content/resources/case-studies" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Description"
        name: "description"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        required: false
        widget: "string"

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "technology" # Used in routes, e.g., /admin/collections/blog
    label: "Technology" # Used in the UI
    folder: "site/content/resources/technology" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Description"
        name: "description"
        widget: "string"

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "process" # Used in routes, e.g., /admin/collections/blog
    label: "Process" # Used in the UI
    folder: "site/content/resources/process" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Body"
        name: "body"
        widget: "markdown"

  - name: "team" # Used in routes, e.g., /admin/collections/blog
    label: "Team" # Used in the UI
    folder: "site/content/resources/team" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Thumbnail Image"
        name: "thumbnailImage"
        required: false
        widget: "image"

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Subtitle"
        name: "subtitle"
        widget: "string"

      - label: "Description"
        name: "description"
        widget: "string"
        required: false

  - name: "industries" # Used in routes, e.g., /admin/collections/blog
    label: "Industries" # Used in the UI
    folder: "site/content/industries" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter

      - label: "Order"
        name: "order"
        widget: "number"
        required: false

      - label: "Category"
        name: "category"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Description"
        name: "description"
        widget: "string"

      - label: "Body"
        name: "body"
        widget: "markdown"
