{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article class="content">
    <div class="container">
        <div class="case-study-page">

            <a href="/case-studies" class="btn btn-text btn-text_thin flex-end">
                <img class="brand-list__icon rotate_180" src="./svg/outline-arrow_right_alt-24px.svg">
                <span>Back To Case Studies</span>
            </a>

            <div class="case-study-page__header">
                {{ if .Params.thumbnailImage }}
                <div class="case-study__image header-image">
                    {{ printf `<img src="%s" alt="%s">` .Params.thumbnailImage .Title | safeHTML }}
                </div>
                {{end}}

                <div>
                    <h5 class="text-uppercase">Case Study - {{ .Params.category }}</h5>
                    <h3>{{ .Title }}</h3>
                </div>
            </div>

            <main>
                {{- .Content -}}
            </main>
        </div>
    </div>
</article>
{{ end }}
