{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article>
    <div class="case-study-page">
        <div class="case-study-page__header">
            <a href="/case-studies" class="btn btn-outline-gradient case-study-page__back-button">
                <span class="btn-outline-gradient__inner">
                    <img class="brand-list__icon rotate_180" src="./svg/outline-arrow_right_alt-24px.svg">
                    <span class="btn-outline-gradient__text">Back To Case Studies</span>
                </span>
            </a>

            <div class="container">
                <h5 class="text-uppercase">Client - {{ .Params.preview.category }}</h5>
                <h5>{{ .Params.preview.title }}</h5>
            </div>
        </div>

        <div class="case-study-page__body" style="background: {{ .Params.colors.background }}">
            <h2 class="case-study-page__description">{{ .Params.preview.description }}</h2>

            <div class="case-study-page__screens">
                {{ if .Params.detailed.heroImage }}
                {{ printf `<img src="%s" alt="%s">` .Params.detailed.heroImage .Params.preview.title | safeHTML }}
                {{end}}
            </div>

            <div class="markdown container">
                <h5 style="color: {{ .Params.colors.heading }}">The Client</h5>

                <p>{{.Params.detailed.client}}</p>

                <h5 style="color: {{ .Params.colors.heading }}">The Challenge</h5>
                <p>{{.Params.detailed.challenge}}</p>
            </div>

            <div class="case-study-page__fullwidth">
                {{ if .Params.detailed.fullwidthImage }}
                {{ printf `<img src="%s" alt="%s" class="case-study-page__fullwidth">` .Params.detailed.fullwidthImage | safeHTML }}
                {{ end }}
            </div>
        </div>

        <div class="case-study-page__footer" style="background: {{ .Params.colors.footer}}">
            <div class="markdown container">
                <h5 style="color: {{ .Params.colors.heading }}">The Solution</h5>
                <p>{{.Params.detailed.solution}}</p>

                <h5 style="color: {{ .Params.colors.heading }}">The Result</h5>
                <p>{{.Params.detailed.result}}</p>
            </div>

            <div class="brand-block">
                <div class="container">
                    <h3 class="text-center text-brand-secondary text-light">Let’s Make Something Amazing Together</h3>
                </div>
            </div>

            {{ partial "contact-form" }}
        </div>
    </div>
</article>
{{ end }}
