{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article>
    <div class="case-study-page">
        <div class="case-study-page__header">
            <a href="/case-studies" class="btn btn-outline-gradient case-study-page__back-button">
                <span class="btn-outline-gradient__inner">
                    <img class="brand-list__icon rotate_180" src="./svg/outline-arrow_right_alt-24px.svg">
                    <span class="btn-outline-gradient__text">Back To Case Studies</span>
                </span>
            </a>

            <div class="container">
                <h5 class="text-uppercase">Client - {{ .Params.category }}</h5>
                <h3>{{ .Title }}</h3>
            </div>
        </div>

        <div class="case-study-page__body">
            <h2 class="case-study-page__description">{{ .Params.description }}</h2>

            <div class="case-study-page__screens">
                {{ if .Params.heroImage }}
                {{ printf `<img src="%s" alt="%s">` .Params.heroImage .Title | safeHTML }}
                {{end}}
            </div>

            <main class="markdown container">
                {{- .Content -}}
            </main>
        </div>
    </div>
</article>
{{ end }}
