<div class="col-md-6 col-lg-4 case-study-wrapper">
    <div class="case-study brand-block entity-card clearfix">
        {{ if .Params.thumbnailImage }}
        <div class="case-study__image">
            {{ printf `<img src="%s" alt="%s">` .Params.thumbnailImage .Title | safeHTML }}
        </div>
        {{end}}

        <h5 class="text-uppercase">{{.Params.category}}</h5>
        <h3 class="mb-1">{{.Title}}</h3>

        <div class="entity-card__description">
            {{ .Params.description }}
        </div>

        <a href="{{.Permalink}}" class="btn btn-text btn-text_thin flex-end">
            See Case Story <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
        </a>
    </div>
</div>
