.footer {
  @include brand-gradient;
  padding: 90px 10px 40px;
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;

  ul {
    width: 100%;
    margin-top: 20px;
  }

  li {
    line-height: 3em;

    a {
      line-height: 1.5em;
    }
  }

  @include breakpoints-up-lg {
    padding: 140px 10px 40px;
  }

  &__logo {
    width: 210px;
    margin-left: -8px;
    margin-bottom: 17px;
    margin-top: -30px;
  }

  &__link {
    font-size: 18px;
    margin-bottom: 7px;

    img {
      margin-right: 5px;
    }
  }

  &__phone {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    margin-bottom: 50px;

    @include breakpoints-up-lg {
      padding: 0 50px;
    }
  }

  &__social-networks {
    display: flex;
    width: 156px;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 12px;
    flex-wrap: wrap;

    a {
      margin-bottom: 20px;
      margin-right: 5px;
    }
  }
}
