.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808e3;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 9;

  @include breakpoints-up-lg {
    min-height: 125px;
    background: transparent;
    position: relative;
  }

  @include breakpoints-up-md {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 113px;
    margin: 10px 0;
    position: relative;
    display: block;
    z-index: 999;

    @include breakpoints-up-md {
      margin: 20px 0;
    }

    @include breakpoints-up-lg {
      width: 175px;
      margin: 20px 5px;
    }

    @include breakpoints-up-xl {
      width: 238px;
      margin: 20px -10px;
    }
  }

  &__menu {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @include breakpoints-up-md {
      display: flex;
      transform: translateX(0);
      opacity: 1;
    }

    li {
      &:last-child {
        a {
          padding-right: 5px;
        }
      }
    }

    &-item {
      display: block;
      font-size: 18px;
      padding: 10px 19px;
      color: $brandPrimary;

      @include breakpoints-up-md {
        padding: 0 32px;
        font-size: 20px;
      }

      @include breakpoints-up-lg {
        font-size: 24px;
        padding: 55px 32px;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(60, 60, 60, 0.45);

        @include breakpoints-up-md {
          background-color: #ffffff03;
        }

        .header__brand-menu {
          display: block;
        }
      }
    }

    &-title {
      font-size: 18px;
      @include text-regular;
      margin-bottom: 14px;
      color: $brandPrimary;

      @include breakpoints-up-md {
        font-size: 24px;
        margin-bottom: 36px;
      }
    }

    &-section {
      position: relative;
      overflow: hidden;
      padding-bottom: 30px;
      margin-bottom: 40px;

      @include breakpoints-up-md {
        height: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 13px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      @include breakpoints-up-lg {
        margin-bottom: 0;
        padding-bottom: 32px;
        padding-right: 50px;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        @include contrast-gradient;

        @include breakpoints-up-md {
          width: 2px;
          height: 100%;
          top: 0;
          right: 0;
          left: auto;
        }
      }

      &-title {
        font-size: 20px;
        @include text-bold;
        color: #fff;
        margin-bottom: 10px;
        text-transform: none;

        @include breakpoints-up-md {
          font-size: 24px;
          margin-bottom: 14px;
        }
      }

      &-description {
        color: #ccc;
        @include text-regular;
        line-height: 1.5em;
        font-size: 16px;
        margin-bottom: 38px;

        @include breakpoints-up-md {
          margin-bottom: 43px;
        }

        @include breakpoints-up-xl {
          margin-bottom: 56px;
        }
      }

      &_last {
        margin-bottom: 0;

        &:after {
          background: none;
        }
      }
    }

    &-contacts-block {
      line-height: 1.2em;

      h3 {
        @include breakpoints-up-md {
          margin-bottom: 32px;
        }
      }

      p {
        margin-top: 25px;
      }

      @include breakpoints-up-md {
        padding-left: 50px;
      }
    }
  }

  &__brand-menu {
    left: 0;
    top: 75px;
    width: 100%;
    z-index: 11;
    padding: 7px 7px 40px;
    display: none;
    overflow: auto;
    position: fixed;
    height: calc(100% - 55px);
    background-color: #080808;

    @include breakpoints-up-sm {
      height: auto;
    }

    @include breakpoints-up-md {
      padding: 48px 20px;
      position: absolute;
    }

    @include breakpoints-up-lg {
      top: 110px;
    }
  }

  &-menu-bordered-link {
    margin-top: -20px;
  }

  &__culture {
    font-size: 16px;
    line-height: 1.7em;
    margin: 17px 0 0;
  }
}

.hamburger-icon {
  margin: 0 3px;
  width: 24px;

  &:after,
  &:before,
  & span {
    background-color: $brandPrimary;
    border-radius: 0;
    content: '';
    display: block;
    height: 2px;
    width: 24px;
    margin: 2px 0;
    transition: all .2s ease-in-out;
  }

  &_close {
    &:before {
      transform: translateY(6px) rotate(135deg);
    }

    &:after {
      transform: translateY(-6px) rotate(-135deg);
    }

    span {
      transform: scale(0);
    }
  }
}
