.hero-block {
  h2 {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 200;
    color: $brandSecondary;

    strong {
      font-weight: 600;
      color: #fff;
    }

    @include breakpoints-up-xl {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 34px;
    line-height: 1.5em;
  }
}
