.brand-list {
  list-style: none;
  line-height: 40px;
  margin: 13px 0 0 0;

  @include breakpoints-up-sm {
    margin: 30px 0 0 0;
    line-height: 44px;
  }

  &_centered {
    display: flex;
    justify-content: center;
  }

  &__item {
    @include text-medium;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 16px;
    color: #fff;

    @include breakpoints-up-sm {
      margin-bottom: 18px;
    }

    &:before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: $brandPrimary;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin: 0 5px;
  }
}

.brand-block {
  padding: 33px 8px;
  @include brand-gradient;

  @include breakpoints-up-sm {
    padding: 60px 0;
  }

  &_spaced {
    margin-bottom: 45px;

    @include breakpoints-up-lg {
      margin-bottom: 120px;
    }
  }
}

.brand-subheader {
  color: $brandPrimary;
  font-size: 18px;
  margin: 21px 0 25px;
  line-height: 1.45em;
  text-transform: none;
}

.section-header {
  margin-bottom: 19px;
  padding: 0 9px;

  @include breakpoints-up-sm {
    padding: 0;
    margin-bottom: 52px;
  }

  &_single {
    margin-bottom: 32px;
  }
}

.entity-card {
  @extend .clearfix;
  height: 100%;
  padding: 33px 25px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-wrapper {
    margin-bottom: 25px;
  }

  @include breakpoints-up-lg {
    height: 100%;
  }

  @include breakpoints-up-sm {
    padding: 35px 32px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__time {
    text-transform: uppercase;
    opacity: .5;
  }

  &__category {
    opacity: 1;
  }

  &__image {
    width: 100%;

    &-wrapper {
      position: relative;
      min-height: 230px;
      max-height: 230px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 46px);
      margin-left: -23px;

      @include breakpoints-up-sm {
        margin-bottom: 20px;
        width: calc(100% + 64px);
        margin-left: -32px;
      }

      a {
        justify-content: center;
      }
    }
  }

  &_bg {
    @include dark-bg;
    box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      @include contrast-gradient;
    }
  }

  &__title {
    @extend .clearfix;
    margin-bottom: 13px;
    font-size: 22px;

    @include breakpoints-up-xl {
      margin-bottom: 34px;
      line-height: 42px;
      font-size: 32px;
    }
  }

  &__description {
    @extend .clearfix;
    @include text-light;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__list {
    margin: 3px 0 0 0;
  }

  &__body {
    flex: 1;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.quote {
  text-align: center;

  &__text {
    color: $brandSecondary;
    max-width: 1220px;
    font-weight: 200;
    margin: auto auto 15px;
    line-height: 30px;

    @include breakpoints-up-sm {
      line-height: 48px;
    }
  }
}

.industry-solution-image {
  margin-bottom: 30px;
}