.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints-up-sm {
    min-height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 113px;
    margin: 20px 5px;
    position: relative;

    @include breakpoints-up-sm {
      width: 238px;
      margin: 20px -10px;
    }
  }

  &__menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    @include breakpoints-up-sm {
      display: flex;
    }

    li {
      &:last-child {
        a {
          padding-right: 5px;
        }
      }
    }

    &-item {
      font-size: 24px;
      padding: 0 32px;
      color: $brandPrimary;
      font-weight: 400;

      &:hover {
        color: $brandPrimary;
      }
    }
  }
}
