.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 736px) {
    min-height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 238px;
    margin: 0 -24px;
    top: 3px;
    position: relative;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -42px;

    &-item {
      font-size: 24px;
      padding: 0 32px;
      color: $brandPrimary;
      font-weight: 400;

      &:hover {
        color: $brandPrimary;
      }
    }
  }
}
