.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808e3;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 9;

  @include breakpoints-up-lg {
    min-height: 125px;
    background: transparent;
    position: relative;
  }

  @include breakpoints-up-md {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 113px;
    margin: 10px 0;
    position: relative;
    display: block;
    z-index: 999;

    @include breakpoints-up-md {
      margin: 20px 0;
    }

    @include breakpoints-up-lg {
      width: 175px;
      margin: 20px 5px;
    }

    @include breakpoints-up-xl {
      width: 238px;
      margin: 20px -10px;
    }
  }

  &__menu {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    @include breakpoints-up-md {
      display: flex;
      transform: translateX(0);
      opacity: 1;
    }

    li {
      &:last-child {
        a {
          padding-right: 5px;
        }
      }
    }

    &-item {
      display: block;
      font-size: 20px;
      padding: 0 32px;
      color: $brandPrimary;
      font-weight: 400;

      @include breakpoints-up-lg {
        font-size: 24px;
        padding: 44px 32px;
      }

      &:hover {
        cursor: pointer;
        color: $brandPrimary;
      }

      &:hover {
        .header__brand-menu {
          display: block;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;

      @include breakpoints-up-md {
        color: $brandPrimary;
        font-size: 24px;
      }
    }

    &-section {
      position: relative;
      overflow: hidden;
      padding-bottom: 30px;
      margin-bottom: 40px;
      padding-right: 30px;

      @include breakpoints-up-md {
        height: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
      }

      @include breakpoints-up-lg {
        margin-bottom: 40px;
        padding-bottom: 30px;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        @include contrast-gradient;

        @include breakpoints-up-md {
          width: 2px;
          height: 100%;
          top: 0;
          right: 0;
          left: auto;
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;
        text-transform: none;
      }

      &-description {
        color: #ccc;
        font-weight: 400;
        line-height: 1.5em;
        font-size: 16px;
        margin-bottom: 15px;
      }

      &_last {
        &:after {
          background: none;
        }
      }
    }
  }

  &__brand-menu {
    display: none;
    left: 0;
    top: 55px;
    width: 100%;
    background-color: #080808;
    padding: 0 20px;
    position: fixed;
    z-index: 11;

    @include breakpoints-up-sm {
      height: auto;
    }

    @include breakpoints-up-md {
      padding: 48px 20px;
      position: absolute;
    }

    @include breakpoints-up-lg {
      top: 110px;
    }
  }
}
