{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<div class="container">
    <h5 class="text-uppercase mb-3">{{ .Params.category }}</h5>

    {{ with .Title }}
    <h1 class="text-light mb-2">{{.}}</h1>
    {{ end }}

    <h3 class="text-brand-primary mb-3">{{ .Params.subtitle }}</h3>
</div>

<div class="page-anchors mb-3">
    <div class="container">
        <div class="page-anchors__list">
            {{ range .Pages.ByParam "order" }}
                {{ .Render "page-menu-item" }}
            {{ end }}
        </div>
    </div>
</div>

<main class="process-page container">
    <div class="mb-5">
        {{ range .Pages.ByParam "order" }}
            {{ .Render "process-list-item" }}
        {{ end }}
    </div>
</main>

<div class="brand-block">
    <div class="container">
        <h3 class="text-center text-brand-secondary text-light">Let’s Make Something Amazing Together</h3>
    </div>
</div>

<div class="contact-form contact-form_bg">
    {{ partial "contact-form" }}
</div>

{{ end }}
