.case-studies-page {
  @include breakpoints-up-lg {
    padding-top: 32px;
  }
}

.case-study {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 33px 40px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;
  @include brand-gradient-45;

  &-wrapper {
    margin-bottom: 32px;
  }

  &-page {
    padding-top: 17px;

    &__header {
      display: flex;
      clear: both;
      margin: 20px 0;
      line-height: 2em;
      align-items: center;

      @include breakpoints-up-md {
        margin-bottom: 0;
      }
    }

    h1 {
      line-height: 1.4em;
      margin-bottom: 53px;
    }

    h3 {
      font-size: 26px;
      font-weight: 300;
      color: #FF312E;
      margin-bottom: 15px;
    }

    img {
      float: right;
      max-width: 660px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 25px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__cover-image {
    max-width: 100%;
    margin-top: 30%;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6px 0;
    line-height: 1.5em;

    .client-logo {
      width: 100px;
      margin: auto;
    }
  }

  &__subtitle {
    line-height: 1.25em;
    margin-bottom: 22px;
  }

  &__screenshots {
    width: 100%;
    float: left;

    @include breakpoints-up-lg {
      width: 60%;
    }
  }

  &__screenshot {
    width: 100%;

    @include breakpoints-up-lg {
      margin: -47px auto 10px;
      max-width: 620px;
    }
  }

  &__img-bottom-left {
    max-width: 100%;
    margin: 30px auto 0;

    img {
      width: 100%;
    }

    @include breakpoints-up-lg {
      margin-top: 68px;
      max-width: 300px;
    }
  }
}

.mobile-capitalized {
  text-transform: capitalize;

  @include breakpoints-up-sm {
    text-transform: none;
  }
}

.response {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoints-up-sm {
    flex-direction: row;
  }

  &__body {
    text-align: center;

    @include breakpoints-up-sm {
      text-align: left;
    }
  }

  &__image {
    width: 76px;
    height: 76px;
    min-width: 76px;
    min-height: 76px;
    margin-right: 28px;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;

    @include breakpoints-up-sm {
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 170%;
      height: 170%;
      left: -28%;
      top: -28%;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__author {
    font-size: 16px;
    margin-top: 30px;
    padding: 0 10px;

    @include breakpoints-up-sm {
      margin-top: 5px;
      padding: 0;
    }
  }

  &-block {
    margin-bottom: 30px;

    @include breakpoints-up-lg {
      margin-bottom: 0;
    }
  }
}

.primary-case-study-block {
  height: calc(100% - 30px);
}


.header-image {
  height: 110px;
  margin: 32px 40px 32px 0;

  img {
    height: 100%;
  }
}
