.case-studies-page {
  @include breakpoints-up-lg {
    padding-top: 32px;
  }
}

.case-study {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 33px 40px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;
  @include brand-gradient-45;

  &-wrapper {
    margin-bottom: 32px;
  }

  &-page {
    color: #000;

    .markdown.container {
      max-width: 1120px;

      h5 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
        opacity: 1;
      }

      p {
        line-height: 32px;
        margin-bottom: 102px;
      }
    }

    &__header {
      display: flex;
      clear: both;
      line-height: 2em;
      margin-top: -40px;
      align-items: center;
      background: #000;
      padding: 46px 30px 62px;
      position: relative;
      color: #fff;

      @include breakpoints-up-md {
        margin-bottom: 0;
      }
    }

    &__body {
      overflow: hidden;
      padding-top: 75px;
      background: rgb(2,133,213);
      background: linear-gradient(180deg, rgba(2,133,213,1) 0%, rgba(186,238,185,1) 35%, rgba(255,255,255,1) 100%);
    }

    &__description {
      color: #fff;
      font-size: 40px;
      text-align: center;
      font-weight: 200;
    }

    &__back-button {
      position: absolute;
      top: 25px;
      left: 30px;
      z-index: 1;
    }

    &__screens {
      max-height: 50vh;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 135px;

      img {
        max-height: 100%;
        max-width: 1320px;
      }
    }

    &__fullwidth {
      text-align: center;

      img {
        width: 100%;
        max-width: 2000px;
      }
    }

    &__footer {
      background: #fff;
    }
  }

  &_spaced {
    margin-bottom: 100px;
  }

  &__logo {
    margin-bottom: 30px;

    @include breakpoints-up-sm {
      margin-right: 60px;
      align-self: flex-start;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 25px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__cover-image {
    max-width: 100%;
    margin-top: 30%;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6px 0;
    line-height: 1.5em;

    .client-logo {
      width: 100px;
      margin: auto;
    }
  }

  &__subtitle {
    line-height: 1.25em;
    margin-bottom: 22px;
  }

  &__screenshots {
    width: 100%;
    float: left;

    @include breakpoints-up-lg {
      width: 60%;
    }
  }

  &__screenshot {
    width: 100%;
    margin-top: 15px;

    @include breakpoints-up-lg {
      padding: 35px 30px;
      max-width: 100%;
      margin: 0;
    }
  }

  &__img-bottom-left {
    max-width: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    @include breakpoints-up-lg {
      margin-top: 70px;
      padding: 41px 30px;
    }
  }

  &__img-bottom-center {
    margin-top: 50px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__body {
    width: 100%;
    align-self: flex-start;
    flex-direction: column;

    @include breakpoints-up-sm {
      margin-top: 50px;
    }
  }

  &__img-right {
    width: 90%;
    margin-top: 70px;

    @include breakpoints-up-sm {
      padding: 0 80px;
    }

    img {
      width: 100%;
    }
  }
}

.mobile-capitalized {
  text-transform: capitalize;

  @include breakpoints-up-sm {
    text-transform: none;
  }
}

.response {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoints-up-sm {
    flex-direction: row;
  }

  &__body {
    text-align: center;

    @include breakpoints-up-sm {
      text-align: left;
    }
  }

  &__image {
    width: 76px;
    height: 76px;
    min-width: 76px;
    min-height: 76px;
    margin-right: 28px;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;

    @include breakpoints-up-sm {
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 170%;
      height: 170%;
      left: -28%;
      top: -28%;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__author {
    font-size: 16px;
    margin-top: 30px;
    padding: 0 10px;

    @include breakpoints-up-sm {
      margin-top: 5px;
      padding: 0;
    }
  }

  &-block {
    margin-bottom: 30px;

    @include breakpoints-up-lg {
      margin-bottom: 0;
    }
  }
}

.primary-case-study-block {
  padding-bottom: 30px;

  @include breakpoints-up-lg {
    height: calc(100% - 25px);
    margin: 0;
  }
}
