.list-page {
  @include breakpoints-up-lg {
    padding: 0 90px;
  }

  &-item {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__illustration {
      padding: 40px;
      text-align: center;

      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
