.markdown {
  h1 {
    line-height: 1.4em;
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 42px;
  }

  h3 {
    font-size: 26px;
    @include text-light;
    color: $brandPrimary;
    margin-bottom: 25px;
  }

  h5 {
    margin-bottom: 5px;
  }

  ul {
    margin: 0 0 45px;

    li {
      margin-bottom: 25px;
      padding-left: 30px;
      position: relative;
      line-height: 1.3em;

      strong {
        color: $brandPrimary;
      }

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 2px;
        background: $brandPrimary;
        position: absolute;
        left: 0;
        top: .55em;
      }
    }
  }
  
  p {
    img, blockquote {
      float: right;
      width: 660px;
      clear: both;
      max-width: 100%;
      margin: 0 0 80px;

      @include breakpoints-up-md {
        max-width: 50%;
        margin: 0 0 50px 30px;
      }
    }
  }

  .btn {
    display: inline-flex;
    margin-bottom: 15px;

    &+.btn {
      margin-left: 25px;
    }
  }
}
