.home-page {
  position: relative;

  &__call-to-action {
    width: 520px;
    position: absolute;
    left: 6px;
    top: 200px;
  }

  &__solutions {
    width: 312px;
    position: absolute;
    right: 132px;
    top: 204px;
  }
}
