<div class="col-xs-12 col-lg-5 entity-card">
    <div class="case-study__logo">
        <img src="./svg/K&L_Logo-1.svg" class="client-logo">
    </div>

    <h5 class="text-uppercase">Case Study</h5>

    <h3 class="mb-1">Auto Approve</h3>

    <p class="entity-card__description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
    </p>

    <a href="/case-studies/kl-wine-merchants" class="btn btn-text btn-text_thin flex-end">
        See Case Study
        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
    </a>

    <div class="case-study__img-bottom-center">
        <img src="./images/Image 18.png" class="entity-card-image">
    </div>
</div>
