<div class="col-xs-12 col-lg-5 entity-card">
    <div class="case-study__image">
        <img src="./svg/K&L_Logo-1.svg" class="client-logo">
    </div>

    <h5 class="text-uppercase">e-Commerce</h5>

    <h3 class="mb-1">K&L Wine Merchants</h3>

    <p class="entity-card__description">
        Online wine retailer partnered with TechFabric to
        digitally transform the way they manage their up-
        front inventory costs and warehouse workflow.
    </p>

    <a href="/case-studies/kl-wine-merchants" class="btn btn-text btn-text_thin flex-end">
        See Case Study
        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
    </a>

    <div class="case-study__img-bottom-left">
        <img src="./images/Image 18.png" class="entity-card-image">
    </div>
</div>
