<div class="section home-page__qualities row">
    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/microservices-apis-icon.svg" alt="">

                <h2>Microservices & APIs</h2>

                <p class="entity-card__description">
                    Microservices focus on specific problems and allow your
                    business to narrow the scope of your code and not the size.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/web-mobile-apps-icon.svg" alt="">

                <h2>Web & mobile apps</h2>

                <p class="entity-card__description">
                    Cloud-native apps will minimize infrastructure overhead and manual efforts.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/ai-iot-machinelearning-icon.svg" alt="">

                <h2>AI, IoT, & Machine Learning</h2>

                <p class="entity-card__description">
                    Get continuous performance and automation through the use of new intelligent technologies built to reduce operational costs.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/human-centered-icon.svg" alt="">

                <h2>Human Centered Design</h2>

                <p class="entity-card__description">
                    We are passionate and methodical about including the human perspective into the solutions we designed.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/devops-infrastructure-icon.svg" alt="">

                <h2>DevOps & Infrastructure</h2>

                <p class="entity-card__description">
                    We used modern DevOps practices to provided a shorter development life cycle and deliver rich features quickly.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4 entity-card-wrapper">
        <div class="entity-card entity-card_bg">
            <div>
                <img src="./svg/industries/bigdata-analytics-icon.svg" alt="">

                <h2>Big Data & Analytics</h2>

                <p class="entity-card__description">
                    We in provide scalable analytics solutions to give clients game changing strategy and insights from big data analytics.
                </p>

                <p>
                    Clients Using Solution: <br>
                    <span class="text-brand-primary">Auto Approve, CarFinance, MPS, iLending, CUDirect, Blinker</span>
                </p>

            </div>

            <div class="entity-card__footer">
                <a href="/" class="btn btn-text btn-text_thin">
                    Learn More
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>
        </div>
    </div>
</div>