<div class="inline-steps">
    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Discovery
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Research
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Ideation
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Wireframing
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Design System
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Prototyping
        </div>
    </div>

    <div class="info-banner inline-steps-item">
        <div class="info-banner__content inline-steps-item__content">
            Iteration
        </div>
    </div>
</div>