.btn {
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 12px 22px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  float: left;

  @include breakpoints-up-md {
    padding: 12px 32px;
  }

  &:hover {
    color: #fff;
  }

  &-prim {
    color: #fff;
    background-color: $brandPrimary;
  }

  &-text {
    color: $brandSecondary;
    background: transparent;
    font-size: 16px;

    &_thin {
      padding: 0;
    }
  }
}
