/*
  You can use import statements to include partials:
 */
@import 'imports/reset';
@import 'imports/hero-block';
@import "variables";
@import "buttons";

@import "componnets/components";

/*
  Or add your statements here:
 */
body {
  font-size: calc(10px + 1vmin);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #080808;
  background: -moz-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #080808), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -o-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -ms-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: linear-gradient(to bottom, #080808 0%, #3c3c3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#3c3c3c', GradientType=0 );
  color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: $brandSecondary;
  text-decoration: none;
}

.content {
  padding: 0 32px;
}

.container {
  max-width: 100%;
  width: 1650px;
  margin: 0 auto;
}

.header {
  min-height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 238px;
    margin: 0 -4px;
    top: 6px;
    position: relative;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 -20px;

    &-item {
      font-size: 24px;
      padding: 0 30px;
      color: $brandPrimary;
      font-weight: 600;
    }
  }
}

h1 {
  font-size: 42px;
  font-family: "Roboto Light", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  margin: 0;
}

.text {
  &-center {
    text-align: center;
  }

  &-brand-secondary {
    color: $brandSecondary;
  }
}

.brand-list {
  list-style: none;
  line-height: 44px;
  margin: 24px 0 0 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;

    &:before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: $brandPrimary;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
}
