/*
  You can use import statements to include partials:
 */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'imports/reset';
@import 'imports/hero-block';
@import "variables";
@import "buttons";

@import "componnets/components";

/*
  Or add your statements here:
 */
body {
  font-size: calc(10px + 1vmin);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #080808;
  background: -moz-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #080808), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -o-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -ms-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: linear-gradient(to bottom, #080808 0%, #3c3c3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#3c3c3c', GradientType=0 );
  color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: $brandSecondary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: .85;
    color: $brandSecondary;
  }
}

.content {
  padding: 0 32px;
}

.container {
  position: relative;
  max-width: 100%;
  width: 1670px;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  font-family: "Roboto Light", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  margin: 0;
}

h4 {
  font-family: "Roboto Bold", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: .7;
}

.brand-list {
  list-style: none;
  line-height: 44px;
  margin: 24px 0 0 0;
  padding: 0;

  &_centered {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    &:before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: $brandPrimary;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
}

.text {
  &-weight-light {
    font-weight: 200;
  }

  &-center {
    text-align: center;
  }

  &-brand-secondary {
    color: $brandSecondary;
  }
}

.brand-block {
  padding: 67px 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#670100+0,05abe0+100 */
  background: rgb(103,1,0); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(103,1,0,1) 0%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(103,1,0,1) 0%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(103,1,0,1) 0%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#670100', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &_spaced {
    margin-bottom: 125px;
  }
}

.page-header {
  margin-bottom: 52px;

  &__title {
    margin-bottom: 27px;
  }

  &_single {
    margin-bottom: 32px;
  }
}

.entity-card {
  padding: 35px 32px;
  position: relative;

  &-image {
    width: 100%;
    margin-bottom: 10px;
  }

  &_bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d1d1d+0,161616+100 */
    background: rgb(29,29,29); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(29,29,29,1) 0%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
    box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc3130+0,0db1ce+100 */
      background: rgb(220,49,48); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(220,49,48,1) 0%, rgba(13,177,206,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3130', endColorstr='#0db1ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }

  &__title {
    margin-bottom: 34px;
    max-width: 280px;

    line-height: 42px;
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 22px;
  }

  &__list {
    margin: 3px 0 0 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
  }
}

.quote {
  text-align: center;

  &__text {
    color: $brandSecondary;
    max-width: 1220px;
    font-weight: 200;
    margin: auto;
    line-height: 48px;
  }
}

.case-study {
  border-radius: 12px;
  padding: 33px 0 0 ;
  margin-bottom: 30px;

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
  }

  &__screenshots {
    width: 60%;
    float: left;
  }

  &__screenshot {
    width: 113%;
    margin: -47px -12%;
  }

  &__img-bottom-left {
    margin-top: 68px;
  }
}
