@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'mixins';
@import 'imports/index';
@import 'componnets/index';
@import 'layouts/index';

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f0f0f+0,3c3c3c+50,0f0f0f+100 */
  background: rgb(15, 15, 15); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(15, 15, 15, 1) 0%, rgba(60, 60, 60, 1) 50%, rgba(15, 15, 15, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(15, 15, 15, 1) 0%, rgba(60, 60, 60, 1) 50%, rgba(15, 15, 15, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(60, 60, 60, 1) 50%, rgba(15, 15, 15, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0f0f', endColorstr='#0f0f0f', GradientType=0); /* IE6-9 */
  background-size: 100% 47%;
  color: white;
  padding-top: 70px;
  position: relative;

  @include breakpoints-up-sm {
    padding-top: 100px;
  }

  @include breakpoints-up-lg {
    padding-top: 0;
  }
}

.body {
  flex-grow: 1;
  padding-top: 20px;
}

.image-hover {
  transition: padding .1s ease;

  &:hover {
    @include brand-gradient;
    padding: 3px;
  }
}

.display {
  display: block;
}

.bordered-link {
  border: 2px solid #474747;
  border-radius: 40px;
  padding: 14px;
  color: #fff;
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 14px;
  @include text-light;

  @include breakpoints-up-md {
    font-size: 20px;
    @include text-medium;
  }
}

.section {
  margin-bottom: 24px;

  @include breakpoints-up-lg {
    margin-bottom: 90px;
  }
}

.contact-information {
  font-size: 16px;
  padding: 0 10px;
  margin-top: 23px;

  &__phone {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    margin-bottom: 17px;
  }
}

.contact-form {
  padding-bottom: 25px;

  @include breakpoints-up-lg {
    padding: 50px 100px;
  }

  &_bg {
    background: #080808;
  }
}

.brand-control {
  &-label {
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
  }

  &-input {
    width: 100%;
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #474747;
    margin-bottom: 24px;

    &_textarea {
      resize: none;
      padding: 15px;
    }
  }
}

.gradient-border-top {
  position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;

      @include contrast-gradient;
    }
}

.form-terms-and-conditions {
  max-width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 12px;
  opacity: .67;
  padding-left: 8%;

  @include breakpoints-up-lg {
    width: 420px;
  }
}

.rotate {
  &_180 {
    transform: rotateZ(180deg);
  }
}

blockquote {
  @extend .case-study;
  @extend .brand-block;
  @extend .clearfix;
  @extend .primary-case-study-block;
  @extend .text-brand-secondary;

  display: flex;
  align-items: flex-end;
  font-size: 23px;
  font-weight: 200;

  em {
    @extend .brand-list__item;
    display: inline-flex;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoints-up-md {
    font-size: 32px;
  }
}
