/*
  You can use import statements to include partials:
 */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "variables";
@import "mixins";
@import 'imports/reset';
@import 'imports/hero-block';
@import 'imports/drawer';
@import 'imports/404';
@import "buttons";

@import "componnets/components";

/*
  Or add your statements here:
 */
body {
  width: 100%;
  font-size: calc(10px + 1vmin);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f0f0f+0,3c3c3c+50,0f0f0f+100 */
  background: rgb(15,15,15); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(15,15,15,1) 0%, rgba(60,60,60,1) 50%, rgba(15,15,15,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(15,15,15,1) 0%,rgba(60,60,60,1) 50%,rgba(15,15,15,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(15,15,15,1) 0%,rgba(60,60,60,1) 50%,rgba(15,15,15,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
  background-size: 100% 47%;
  color: white;
  padding-top: 70px;

  @include breakpoints-up-sm {
    padding-top: 100px;
  }

  @include breakpoints-up-lg {
    padding-top: 0;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.full-width {
  width: 100%;
}

a {
  display: flex;
  align-items: center;
  color: $brandSecondary;
  text-decoration: none;
  transition: opacity .1s ease;

  &:hover {
    text-decoration: none;
    color: $brandSecondary;
  }
}

b {
  font-weight: 600;
}

.text-regular {
  color: #fff;
}

.content {
  padding: 0 32px;
}

.container {
  position: relative;
  max-width: 100%;
  width: 1670px;
  margin: 0 auto;
}

h1 {
  font-size: 27px;
  line-height: 35px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;

  @include breakpoints-up-sm {
    font-size: 42px;
    line-height: 1em;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5em;

  @include breakpoints-up-sm {
    font-size: 32px;
  }
}

h4 {
  font-family: "Roboto Bold", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.brand-list {
  list-style: none;
  line-height: 40px;
  margin: 13px 0 0 0;

  @include breakpoints-up-sm {
    margin: 30px 0 0 0;
    line-height: 44px;
  }

  &_centered {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 16px;
    color: #fff;

    @include breakpoints-up-sm {
      margin-bottom: 18px;
    }

    &:before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: $brandPrimary;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
}

.display {
  display: block;
}

.bordered-link {
  border: 2px solid #474747;
  border-radius: 40px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.brand-block {
  padding: 33px 8px;
  @include brand-gradient;

  @include breakpoints-up-sm {
    padding: 60px 0;
  }

  &_spaced {
    margin-bottom: 45px;

    @include breakpoints-up-lg {
      margin-bottom: 125px;
    }
  }
}

.brand-subheader {
  color: $brandPrimary;
  font-size: 18px;
  margin: 21px 0 25px;
  line-height: 1.45em;
  text-transform: none;
}

.text {
  &-weight-light {
    font-weight: 200;
  }

  &-center {
    text-align: center;
  }

  &-brand-primary {
    color: $brandPrimary;
  }

  &-brand-secondary {
    color: $brandSecondary;
  }
}

.page-header {
  margin-bottom: 19px;
  padding: 0 9px;

  @include breakpoints-up-sm {
    padding: 0;
    margin-bottom: 52px;
  }

  &__title {
    margin-bottom: 14px;

    @include breakpoints-up-sm {
      margin-bottom: 27px;
    }
  }

  &_single {
    margin-bottom: 32px;
  }
}

.image-hover {
  transition: padding .1s ease;

  &:hover {
    @include brand-gradient;
    padding: 3px;
  }
}

.pull {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.entity-card {
  @extend .clearfix;
  padding: 40px 23px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-wrapper {
    margin-bottom: 25px;
  }

  @include breakpoints-up-lg {
    height: 100%;
  }

  @include breakpoints-up-sm {
    padding: 35px 32px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__time {
    text-transform: uppercase;
    opacity: .5;
  }

  &__category {
    opacity: 1;
  }

  &__image {
    width: 100%;

    &-wrapper {
      position: relative;
      min-height: 230px;
      max-height: 230px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 46px);
      margin-left: -23px;

      @extend .image-hover;

      @include breakpoints-up-sm {
        margin-bottom: 20px;
        width: calc(100% + 64px);
        margin-left: -32px;
      }

      a {
        justify-content: center;
      }
    }
  }

  &_bg {
    @include dark-bg;
    box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      @include contrast-gradient;
    }
  }

  &__title {
    @extend .clearfix;
    margin-bottom: 13px;
    font-size: 22px;

    @include breakpoints-up-xl {
      margin-bottom: 34px;
      line-height: 42px;
      font-size: 32px;
    }
  }

  &__description {
    @extend .clearfix;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__list {
    margin: 3px 0 0 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.quote {
  text-align: center;

  &__text {
    color: $brandSecondary;
    max-width: 1220px;
    font-weight: 200;
    margin: auto auto 15px;
    line-height: 30px;

    @include breakpoints-up-sm {
      line-height: 48px;
    }
  }
}

.case-study {
  border-radius: 12px;
  padding: 33px 0 0 ;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;
  @include brand-gradient-45;

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .client-logo {
      width: 100px;
      margin: auto;
    }
  }

  &__screenshots {
    width: 100%;
    float: left;

    @include breakpoints-up-lg {
      width: 60%;
    }
  }

  &__screenshot {
    width: 100%;

    @include breakpoints-up-lg {
      margin: -47px auto 10px;
      max-width: 620px;
    }
  }

  &__img-bottom-left {
    max-width: 100%;
    margin: 30px auto 0;

    img {
      width: 100%;
    }

    @include breakpoints-up-lg {
      margin-top: 68px;
      max-width: 300px;
    }
  }
}

.mobile-capitalized {
  text-transform: capitalize;

  @include breakpoints-up-sm {
    text-transform: none;
  }
}

.response {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoints-up-sm {
    flex-direction: row;
  }

  &__body {
    text-align: center;

    @include breakpoints-up-sm {
      text-align: left;
    }
  }

  &__image {
    width: 76px;
    height: 76px;
    min-width: 76px;
    min-height: 76px;
    margin-right: 28px;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;

    @include breakpoints-up-sm {
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 170%;
      height: 170%;
      left: -28%;
      top: -28%;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__author {
    font-size: 16px;
    margin-top: 30px;
    padding: 0 10px;

    @include breakpoints-up-sm {
      margin-top: 5px;
      padding: 0;
    }
  }

  &-block {
    margin-bottom: 30px;

    @include breakpoints-up-lg {
      margin-bottom: 0;
    }
  }
}

.section {
  margin-bottom: 24px;

  @include breakpoints-up-lg {
    margin-bottom: 90px;
  }
}

.contact-information {
  font-size: 16px;
  padding: 0 10px;
  margin-top: 23px;

  &__phone {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    margin-bottom: 17px;
  }
}

.info-banner {
  @include contrast-gradient;
  border-radius: 26px;
  padding: 2px;

  &__content {
    background-color: #1A1A1A;
    color: #fff;
    font-size: 16px;
    letter-spacing: .1px;
    padding: 23px 20px 21px;
    line-height: 1.5em;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: inline-flex;
    }
  }
}

.asterisk {
  color: $brandPrimary;
}

.brand-control {
  &-label {
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
  }

  &-input {
    width: 100%;
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #474747;
    margin-bottom: 24px;

    &_textarea {
      resize: none;
      padding: 15px;
    }
  }
}

.form-footer {
  display: flex;
  align-items: center;
}

.form-terms-and-conditions {
  max-width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 12px;
  opacity: .67;
  padding-left: 8%;

  @include breakpoints-up-lg {
    width: 420px;
  }
}
