/*
  You can use import statements to include partials:
 */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "variables";
@import "mixins";
@import 'imports/reset';
@import 'imports/hero-block';
@import "buttons";

@import "componnets/components";

/*
  Or add your statements here:
 */
body {
  width: 100%;
  font-size: calc(10px + 1vmin);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f0f0f+0,3c3c3c+50,0f0f0f+100 */
  background: rgb(15,15,15); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(15,15,15,1) 0%, rgba(60,60,60,1) 50%, rgba(15,15,15,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(15,15,15,1) 0%,rgba(60,60,60,1) 50%,rgba(15,15,15,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(15,15,15,1) 0%,rgba(60,60,60,1) 50%,rgba(15,15,15,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
  background-size: 100% 47%;
  color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: $brandSecondary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: .85;
    color: $brandSecondary;
  }
}

b {
  font-weight: 600;
}

.content {
  padding: 0 32px;
}

.container {
  position: relative;
  max-width: 100%;
  width: 1670px;
  margin: 0 auto;
}

h1 {
  font-size: 27px;
  line-height: 35px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;

  @include breakpoints-up-sm {
    font-size: 42px;
    line-height: 1em;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5em;

  @include breakpoints-up-sm {
    font-size: 32px;
  }
}

h4 {
  font-family: "Roboto Bold", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.brand-list {
  list-style: none;
  line-height: 40px;
  margin: 13px 0 0 0;

  @include breakpoints-up-sm {
    margin: 30px 0 0 0;
    line-height: 44px;
  }

  &_centered {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 16px;
    color: #fff;

    @include breakpoints-up-sm {
      margin-bottom: 18px;
    }

    &:before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: $brandPrimary;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
}

.text {
  &-weight-light {
    font-weight: 200;
  }

  &-center {
    text-align: center;
  }

  &-brand-secondary {
    color: $brandSecondary;
  }
}

.brand-block {
  padding: 33px 8px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#670100+0,05abe0+100 */
  background: rgb(103,1,0); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(103,1,0,1) 0%, rgb(0, 80, 93) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(103,1,0,1) 0%,rgb(0, 80, 93) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(103,1,0,1) 0%,rgb(0, 80, 93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#670100', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  @include breakpoints-up-sm {
    padding: 60px 0;
  }

  &_spaced {
    margin-bottom: 45px;

    @include breakpoints-up-lg {
      margin-bottom: 125px;
    }
  }
}

.page-header {
  margin-bottom: 19px;
  padding: 0 9px;

  @include breakpoints-up-sm {
    padding: 0;
    margin-bottom: 52px;
  }

  &__title {
    margin-bottom: 14px;

    @include breakpoints-up-sm {
      margin-bottom: 27px;
    }
  }

  &_single {
    margin-bottom: 32px;
  }
}

.entity-card {
  height: 100%;
  padding: 25px 23px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &-wrapper {
    margin-bottom: 25px;
  }

  @include breakpoints-up-sm {
    padding: 35px 32px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__time {
    text-transform: uppercase;
    opacity: .5;
  }

  &__category {
    opacity: 1;
  }

  &__image {
    margin-bottom: 25px;
    width: 100%;

    @include breakpoints-up-sm {
      margin-bottom: 10px;
    }

    &-wrapper {
      min-height: 230px;
      max-height: 230px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 46px);
      margin-left: -23px;

      @include breakpoints-up-sm {
        padding: 35px 32px;
        margin-bottom: 20px;
      }
    }
  }

  &_bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d1d1d+0,161616+100 */
    background: rgb(29,29,29); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(29,29,29,1) 0%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
    box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc3130+0,0db1ce+100 */
      background: rgb(220,49,48); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(220,49,48,1) 0%, rgba(13,177,206,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3130', endColorstr='#0db1ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }

  &__title {
    margin-bottom: 13px;
    font-size: 22px;

    @include breakpoints-up-xl {
      margin-bottom: 34px;
      line-height: 42px;
      font-size: 32px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 22px;
    margin-top: 10px;
  }

  &__list {
    margin: 3px 0 0 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.quote {
  text-align: center;

  &__text {
    color: $brandSecondary;
    max-width: 1220px;
    font-weight: 200;
    margin: auto auto 15px;
    line-height: 30px;

    @include breakpoints-up-sm {
      line-height: 48px;
    }
  }
}

.case-study {
  border-radius: 12px;
  padding: 33px 0 0 ;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.29) 0 20px 20px;

  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
  }

  &__screenshots {
    width: 100%;
    float: left;

    @include breakpoints-up-lg {
      width: 60%;
    }
  }

  &__screenshot {
    width: 100%;

    @include breakpoints-up-lg {
      margin: -47px auto 10px;
      max-width: 620px;
    }
  }

  &__img-bottom-left {
    max-width: 100%;
    margin: 30px auto 0;

    img {
      width: 100%;
    }

    @include breakpoints-up-lg {
      margin-top: 68px;
      max-width: 300px;
    }
  }
}

.mobile-capitalized {
  text-transform: capitalize;

  @include breakpoints-up-sm {
    text-transform: none;
  }
}

.response {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoints-up-sm {
    flex-direction: row;
  }

  &__body {
    text-align: center;

    @include breakpoints-up-sm {
      text-align: left;
    }
  }

  &__image {
    width: 76px;
    height: 76px;
    min-width: 76px;
    min-height: 76px;
    margin-right: 28px;
    margin-bottom: 20px;
    border-radius: 100%;
    overflow: hidden;

    @include breakpoints-up-sm {
      margin-bottom: 0;
    }

    img {
      position: relative;
      width: 200%;
      height: 200%;
      left: -42%;
      top: -42%;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__author {
    font-size: 16px;
    margin-top: 30px;
    padding: 0 10px;

    @include breakpoints-up-sm {
      margin-top: 5px;
      padding: 0;
    }
  }

  &-block {
    margin-bottom: 30px;

    @include breakpoints-up-lg {
      margin-bottom: 0;
    }
  }
}

.section {
  margin-bottom: 24px;

  @include breakpoints-up-lg {
    margin-bottom: 90px;
  }
}
