@mixin breakpoints-up-xs {
  @media (max-width: 576px) { @content; }
}
@mixin breakpoints-up-sm {
  @media (min-width: 576px) { @content; }
}
@mixin breakpoints-up-md {
  @media (min-width: 768px) { @content; }
}
@mixin breakpoints-up-lg {
  @media (min-width: 992px) { @content; }
}
@mixin breakpoints-up-xl {
  @media (min-width: 1200px) { @content; }
}

@mixin dark-bg() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d1d1d+0,161616+100 */
  background: rgb(29,29,29); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(29,29,29,1) 0%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(29,29,29,1) 0%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
}

@mixin contrast-gradient() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc3130+0,0db1ce+100 */
  background: rgb(220,49,48); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(220,49,48,1) 0%, rgba(13,177,206,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(220,49,48,1) 0%,rgba(13,177,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3130', endColorstr='#0db1ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin brand-gradient-45() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#860100+0,57201f+25,2e2e2e+50,063840+75,004450+100 */
  background: rgb(134,1,0); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(134,1,0,1) 0%, rgba(87,32,31,1) 25%, rgba(46,46,46,1) 50%, rgba(6,56,64,1) 75%, rgba(0,68,80,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(134,1,0,1) 0%,rgba(87,32,31,1) 25%,rgba(46,46,46,1) 50%,rgba(6,56,64,1) 75%,rgba(0,68,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(134,1,0,1) 0%,rgba(87,32,31,1) 25%,rgba(46,46,46,1) 50%,rgba(6,56,64,1) 75%,rgba(0,68,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860100', endColorstr='#004450',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin brand-gradient() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#860100+0,57201f+25,2e2e2e+50,063840+75,004450+100 */
  background: rgb(134,1,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(134,1,0,1) 0%, rgba(87,32,31,1) 25%, rgba(46,46,46,1) 50%, rgba(6,56,64,1) 75%, rgba(0,68,80,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(134,1,0,1) 0%,rgba(87,32,31,1) 25%,rgba(46,46,46,1) 50%,rgba(6,56,64,1) 75%,rgba(0,68,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(134,1,0,1) 0%,rgba(87,32,31,1) 25%,rgba(46,46,46,1) 50%,rgba(6,56,64,1) 75%,rgba(0,68,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860100', endColorstr='#004450',GradientType=1 ); /* IE6-9 */
}
