{{ if .Page.Params.caseStudyTitle }}
<h2 class="mb-4"><strong>Learn about a recent client success</strong></h2>

<div class="case-study">

    <div class="flex-center flex-row mb-5">
        <div class="case-study__logo">
            {{ if .Page.Params.caseStudyLogo }}

            {{ printf `<img src="%s" alt="%s" class="client-logo">` .Params.caseStudyLogo .Title | safeHTML }}

            {{end}}
        </div>

        <div>
            <h5 class="text-uppercase">Case Study</h5>

            <h2 class="mb-1"><b>{{ .Page.Params.caseStudyTitle }}</b></h2>

            <p class="entity-card__description">
                {{ .Page.Params.caseStudyDescription }}
            </p>

            <a href="/case-studies/kl-wine-merchants" class="btn btn-text btn-text_thin flex-end">
                See Case Study
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>

        <div class="case-study__img-right">
            {{ if .Page.Params.caseStudyImageRight }}

            {{ printf `<img src="%s" alt="%s">` .Params.caseStudyImageRight .Title | safeHTML }}

            {{end}}
        </div>
    </div>

    <div class="case-study__img-bottom-center flex-center">
        {{ if .Page.Params.caseStudyImageBottom }}

        {{ printf `<img src="%s" alt="%s">` .Params.caseStudyImageBottom .Title | safeHTML }}

        {{end}}
    </div>
</div>
{{ end }}
