{{ define "main" }}

<div class="home-page">
    <div class="container">
        <h1 class="text-center home-page__title">
            {{ .Title }}
        </h1>

        <div class="home-page__animation">
            {{ partial "home-page-animation" }}
        </div>

        <div class="home-page__glow"></div>

        <div class="home-page__text-blocks">
            <div class="home-page__solutions">
                <h3>Our Solutions Include</h3>

                <ul class="brand-list">
                    {{ range where .Site.Pages "Params.menu" "solutions" }}
                        <li>
                            <a class="brand-list__item" href="/solutions/#{{ .Params.title }}">
                                <span class="text-brand-secondary">{{ .Params.category }}</span>
                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>

            <div class="hero-block home-page__call-to-action">
                {{ if .Params.callToAction}}
                    {{ .Params.callToAction | markdownify }}
                {{ end }}

                <div class="home-page__call-to-action-footer">
                    <a href="/#get-in-touch">
                        <button class="btn btn-prim home-page__call-to-action-btn full-width">Get In Touch</button>
                    </a>
                    <a href="/whitepaper">
                        <button class="btn btn-text home-page__call-to-action-btn full-width">
                            See Our New Whitepaper
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="home-page__technologies">
            <a href="/technology/#Scalable%20Infrastructure">
                <img src="./svg/MSPartner_Logo.svg">
            </a>
            <a href="/technology/#Scalable%20Infrastructure">
                <img src="./svg/azure_white.svg">
            </a>
            <a href="/technology/#Backed%20by%20industry%20standards">
                <img src="./svg/CSharp_white.svg">
            </a>
            <a href="/technology/#Modern%20Front-end%20frameworks">
                <img src="./svg/Javascript_Logo.svg">
            </a>
            <a href="/technology/#Modern%20Front-end%20frameworks">
                <img src="./svg/Typescript_Logo.svg">
            </a>
            <a href="/technology/#Modern%20Front-end%20frameworks">
                <img src="./svg/React_Logo.svg">
            </a>
            <a href="/technology">
                Any Language
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>
    </div>
</div>

<div class="brand-block brand-block_spaced">
    <div class="container">
        <h3 class="text-center text-brand-secondary text-light">Companies innovating with TechFabric</h3>
        <div class="home-page__innovating-companies">
            <a href="/#/case-studies/autoapprove">
                <img width="185px" src="./svg/ApproveLogo.svg">
            </a>
            <a href="/#/case-studies/cu-direct/">
                <img src="./svg/CUDirect-logo-white.svg">
            </a>
            <a href="/#/case-studies/kl-wine-merchants/">
                <img src="./svg/K&L_Logo.svg">
            </a>
            <a href="/#/case-studies/carfinance">
                <img src="./svg/CarFinance-Logo-White.svg">
            </a>
            <a href="/#/case-studies/simonmed">
                <img src="./svg/SimonMed-Logo-White.svg">
            </a>
            <a href="/#/case-studies/lease-hawk">
                <img src="./svg/LeaseHawk_Logo_White.svg">
            </a>
<!--            <a href="/case-studies">-->
<!--                See Case Studies-->
<!--                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--            </a>-->
        </div>
    </div>
</div>

<div class="container">
    <div class="section-header">
        <h5 class="text-uppercase mb-3">How we work</h5>
        <h3 class="mb-1">We Help Companies Unleash the Power of Cloud to Create Apps and APIs that Empower their Business.</h3>
    </div>

    <div class="section home-page__qualities row">
        <div class="col-md-6 col-xl-3 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__body">
                    <h3 class="entity-card__title">Lean Product Strategy</h3>

                    <p class="entity-card__description">
                        Amazing products start with critical thinking.
                        We apply intentional process to the early stage
                        product.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/primary-research">Primary Research</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/product-roadmaps">Product Roadmaps</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/iterative-testing">Iterative Testing</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/growth-analysis-strategy">Growth Analysis & Strategy</a>
                        </li>
                    </ul>
                </div>

<!--                <div class="entity-card__footer">-->
<!--                    <a href="/" class="btn btn-text btn-text_thin">-->
<!--                        Learn More-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__body">
                    <h3 class="entity-card__title">Human Centered design</h3>

                    <p class="entity-card__description">
                        Our approach to design thinking goes beyond
                        problem solving by reimagining what’s
                        possible for your customer experience.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/product-design">Product Design</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/ux-research">UX Research</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/service-design">Service Design</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/design-systems">Design Systems</a>
                        </li>
                    </ul>
                </div>


<!--                <div class="entity-card__footer">-->
<!--                    <a href="/" class="btn btn-text btn-text_thin">-->
<!--                        Learn More-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__body">
                    <h3 class="entity-card__title">Agile Software engineering</h3>

                    <p class="entity-card__description">
                        Senior expertise across popular tech stacks,
                        combined with platform & ops specialty,
                        builds the foundations for scale.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/modern-software-development">Modern Software Development</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/platform-architecture">Platform Architecture</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/apis-integrations">APIs & Integrations</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/qa-test-delivery-automation">QA, Test & Delivery Automation</a>
                        </li>
                    </ul>

                </div>

<!--                <div class="entity-card__footer">-->
<!--                    <a href="/" class="btn btn-text btn-text_thin">-->
<!--                        Learn More-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__body">
                    <h3 class="entity-card__title">Modern Cloud Infrastructure</h3>

                    <p class="entity-card__description">
                        We define cloud services and infrastructure
                        for business outcomes. We provide digital,
                        analytics, and enterprise cloud services.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/cloud-native-applications">Cloud Native Applications</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/platform-architecture">Platform Architecture</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/devops-deployment">DevOps & Deployment</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/aws-google-cloud-and-microsoft-azure">AWS, Google Cloud, and Microsoft Azure</a>
                        </li>
                    </ul>
                </div>

<!--                <div class="entity-card__footer">-->
<!--                    <a href="/" class="btn btn-text btn-text_thin">-->
<!--                        Learn More-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="quote container section">
        <h2 class="quote__text">
            “Speed to market, strong project management and communication were the three pillars in our selection of a development partner and TechFabric outperformed in each area. We recently made the decision to retain their services for an indefinite time period. TechFabric is more a partner than a third party developer.”
        </h2>

        <ul class="brand-list brand-list_centered entity-card__list">
            <li class="brand-list__item">Nick Vincelli – President, CU Direct Member Protection Services</li>
        </ul>
    </div>

    <div class="featured-case-studies section">
        <div class="row">
            <div class="col-12">
                <div class="section-header section-header_single">
                    <h5 class="text-uppercase">Featured Case Studies</h5>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="case-study brand-block clearfix primary-case-study-block">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="case-study__image">
                                <img src="/images/uploads/CUDirect-logo-white.svg" class="client-logo">
                            </div>

                            <h5 class="text-uppercase">Automotive</h5>

                            <h3 class="mb-1">CU Direct Members Protection Services</h3>

                            <p class="entity-card__description">
                                Member Protection Services has invested in extensive research and development in order to create the industry's
                                only automotive protection program specifically designed for credit unions and their members.
                            </p>

<!--                            <a href="/case-studies/kl-wine-merchants" class="btn btn-text btn-text_thin flex-end">-->
<!--                                See Case Study-->
<!--                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                            </a>-->

                            <div class="case-study__img-bottom-left">
                                <img src="./images/Member Protection Services 2019-10-01 17-19-01.png" class="entity-card-image">

                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-6 case-study__screenshots">
                            <img class="case-study__screenshot" src="./images/Member Protection Services 2019-10-01 17-26-53.png">
                            <img class="case-study__screenshot" src="./images/Member Protection Services 2019-10-01 17-20-44.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="case-study brand-block clearfix">
                    <div class="case-study__image">
                        <img src="/images/uploads/simonmed-logo.svg" class="client-logo">
                    </div>

                    <h5 class="text-uppercase">Healthcare</h5>

                    <h3 class="mb-1">SimonMed Imaging</h3>

                    <p class="entity-card__description">
                        SimonMed Imaging is one of the largest outpatient medical imaging providers and largest physician
                        radiology practices in the United States. We specialize in using the newest diagnostic imaging
                        technologies and bringing them to the community in an affordable and accessible way.
                    </p>

<!--                    <a href="/case-studies/car-finance" class="btn btn-text btn-text_thin flex-end">-->
<!--                        See Case Study-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
                </div>

                <div class="case-study brand-block clearfix">
                    <div class="case-study__image">
                        <img src="/images/uploads/leasehawk-logo.svg" class="client-logo">
                    </div>

                    <h5 class="text-uppercase">Real Estate</h5>

                    <h3 class="mb-1">Lease Hawk</h3>

                    <p class="entity-card__description">
                        Our mission is to simplify the leasing process by creating intuitive software solutions that
                        enable data-driven decision making and productivity for the multifamily industry.
                    </p>

<!--                    <a href="/case-studies/autoapprove" class="btn btn-text btn-text_thin flex-end">-->
<!--                        See Case Study-->
<!--                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-block brand-block_spaced">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3 response-block">
                <h4 class="mb-3">People & culture</h4>

                <h3 class="section-header__subtitle mb-3">It’s always a delight when you partner with the right team</h3>

                <a href="/team" class="btn btn-text btn-text_thin">
                    Our Team
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>

            <div class="col-sm-12 col-lg-9 response-block">
                <div class="response">
                    <div class="response__image">
                        <img src="./images/Sam_ProfilePic@2x.png">
                    </div>

                    <div class="response__body">
                        <h3 class="text-light text-brand-secondary">“We work seamlessly just like an extension of your organization.”</h3>
                        <div class="response__author">
                            Sam Salima – TechFabric Lead UI/UX Designer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ $response := getJSON "https://blog.techfabric.io/ghost/api/v2/content/posts/?key=8e83ce7798d413b94ce82cf268&include=tags,authors" }}

<div class="container section">
    <div class="row">
        <div class="col-12 news-ideas">
            <h5 class="text-uppercase mb-3">News & ideas</h5>

            <h3 class="section-header__subtitle mb-3">Recent Insights From Our Blog</h3>

            <a href="https://blog.techfabric.io/" target="_blank" class="btn btn-text btn-text_thin">
                View All Posts
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>

        {{ range $i, $post := $response.posts }}{{if lt $i 3}}
        <div class="col-lg-4 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__header">
                    <h5>{{ $post.primary_author.name }}</h5>
                    <h5>{{ dateFormat "Jan 2, 2006 " $post.published_at}}</h5>
                </div>

                <h3 class="entity-card__title">
                    {{ $post.title }}
                </h3>

                <div class="entity-card__image-wrapper">
                    <a target="_blank" href="{{$post.url}}">
                        <img src="{{$post.feature_image}}" class="entity-card__image">
                    </a>
                </div>

                <p class="entity-card__description">
                    {{ $post.excerpt | truncate 180 }}
                </p>
            </div>
        </div>
        {{ end }}{{ end }}
    </div>
</div>

<div class="brand-block" id="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">
                    Let’s Make Something Amazing Together
                </h1>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-form" }}

{{ end }}
