{{ define "main" }}

<div class="home-page">
    <div class="container">
        <h1 class="text-center">We Build Reliable, Scalable and Secure Web/Mobile Apps and APIs</h1>

        <div class="home-page__animation">
            <img class="home-page__animation-img" src="./images/TF_CloudAnimation.png" alt="">
        </div>

        <div class="home-page__glow"></div>

        <div class="home-page__text-blocks">
            <div class="home-page__solutions">
                <h3>Our Solutions Include</h3>

                <ul class="brand-list">
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/">
                            Microservices & APIs
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/">
                            Cloud-native WEb & Mobil e Apps
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/">
                            Machine Learning, AI, & IoT
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/">
                            Human Centered Design
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/">
                            DevOps & Infrastructure
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="hero-block home-page__call-to-action">
                <div class="home-page__call-to-action-body">
                    <div class="hero-block__title">
                <span class="text-brand-secondary">
                     We strive to provide technology solutions to empower enterprises through
                </span>
                        <b class="mobile-capitalized">
                            amazing user experiences
                        </b>
                    </div>

                    <div class="hero-block__subtitle">
                        We use the latest cloud-native technologies to provide world class development & consulting services.
                    </div>
                </div>


                <div class="home-page__call-to-action-footer">
                    <button class="btn btn-prim home-page__call-to-action-btn">Get In Touch</button>
                    <button class="btn btn-text home-page__call-to-action-btn">
                        See Our New Whitepaper
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="home-page__technologies">
            <a href="/">
                <img src="./svg/MSPartner_Logo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/azure_white.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/CSharp_white.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/Javascript_Logo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/Typescript_Logo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/React_Logo.svg" alt="">
            </a>
            <a href="/">
                Any Language
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
            </a>
        </div>
    </div>
</div>

<div class="brand-block brand-block_spaced">
    <div class="container">
        <h3 class="text-center text-brand-secondary text-weight-light">Companies innovating with TechFabric</h3>

        <div class="home-page__innovating-companies">
            <a href="/">
                <img width="185px" src="./svg/ApproveLogo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/CUDirect-logo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/MSPartner_Logo.svg" alt="">
            </a>
            <a href="/">
                <img src="./svg/K&L_Logo.svg" alt="">
            </a>
            <a href="/">
                See Case Studies
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h4 class="page-header__title">How we work</h4>
        <h3 class="page-header__subtitle">We Help Companies Unleash the Power of Cloud to Create Apps and APIs that Empower their Business.</h3>
    </div>

    <div class="home-page__qualities row">
        <div class="col-md-6 col-xl-3">
            <div class="entity-card entity-card_bg">
                <h3 class="entity-card__title">Lean Product Strategy</h3>

                <p class="entity-card__description">
                    Amazing products start with critical thinking.
                    We apply intentional process to the early stage
                    product.
                </p>

                <ul class="brand-list entity-card__list">
                    <li>
                        <a class="brand-list__item" href="/">Primary Research</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Product Roadmaps</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Iterative Testing</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Growth Analysis & Strategy</a>
                    </li>
                </ul>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="entity-card entity-card_bg">
                <h3 class="entity-card__title">Human Centered design</h3>

                <p class="entity-card__description">
                    Our approach to design thinking goes beyond
                    problem solving by reimagining what’s
                    possible for your customer experience.
                </p>

                <ul class="brand-list entity-card__list">
                    <li>
                        <a class="brand-list__item" href="/">Product Design</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">UX Research</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Service Design</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Design Systems</a>
                    </li>
                </ul>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="entity-card entity-card_bg">
                <h3 class="entity-card__title">Agile Software engineering</h3>

                <p class="entity-card__description">
                    Senior expertise across popular tech stacks,
                    combined with platform & ops specialty,
                    builds the foundations for scale.
                </p>

                <ul class="brand-list entity-card__list">
                    <li>
                        <a class="brand-list__item" href="/">Modern Software Development</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Platform Architecture</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">APIs & Integrations</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">QA, Test & Delivery Automation</a>
                    </li>
                </ul>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="entity-card entity-card_bg">
                <h3 class="entity-card__title">Modern Cloud Infrastructure</h3>

                <p class="entity-card__description">
                    We define cloud services and infrastructure
                    for business outcomes. We provide digital,
                    analytics, and enterprise cloud services.
                </p>

                <ul class="brand-list entity-card__list">
                    <li>
                        <a class="brand-list__item" href="/">Cloud Native Applications</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">Platform Architecture</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">DevOps & Deployment</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/">AWS, Google Cloud, and Microsoft Azure</a>
                    </li>
                </ul>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="quote container">
        <div class="home-page__quote">
            <h3 class="quote__text">
                “By partnering with Tech Fabric experts, we were able to clearly define the problem areas and strategize solutions to bring immediate improvements to our operations.”
            </h3>
            <ul class="brand-list brand-list_centered entity-card__list">
                <li class="brand-list__item">Bryan Zucker, Vice President – K&L Wines</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header page-header_single">
                    <b><h4 class="page-header__title">Featured Case Studies</h4></b>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="case-study brand-block clearfix klwines-block">
                    <div class="row">
                        <div class="col-xs-12 col-lg-5 case-study__description">
                            <img src="./svg/K&L_Logo-1.svg" alt="">
                            <div class="entity-card">
                                <h4 class="page-header__title">e-Commerce</h4>

                                <h3 class="page-header__subtitle">K&L Wine Merchants</h3>

                                <p class="entity-card__description">
                                    Online wine retailer partnered with TechFabric to
                                    digitally transform the way they manage their up-
                                    front inventory costs and warehouse workflow.
                                </p>

                                <div class="entity-card__footer">
                                    <a href="/" class="btn btn-text btn-text_thin">
                                        See Case Study
                                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                    </a>
                                </div>

                                <div class="case-study__img-bottom-left">
                                    <img src="./images/Image 18.png" class="entity-card-image" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-7 case-study__screenshots">
                            <img class="case-study__screenshot" src="./images/LivEx_RedTheme.png" alt="">
                            <img class="case-study__screenshot" src="./images/LivEx_RedTheme.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="case-study brand-block clearfix">
                    <div class="case-study__description">
                        <img src="./svg/cf-mark.svg" alt="">
                        <div class="entity-card">
                            <h4 class="page-header__title">Automotive</h4>

                            <h3 class="page-header__subtitle">CarFinance</h3>

                            <p class="entity-card__description">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            </p>

                            <div class="entity-card__footer">
                                <a href="/" class="btn btn-text btn-text_thin">
                                    See Case Study
                                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="case-study brand-block clearfix">
                    <div class="case-study__description">
                        <img src="./svg/ApproveEngine_LogoWhite.svg" alt="">
                        <div class="entity-card">
                            <h4 class="page-header__title">Automotive</h4>

                            <h3 class="page-header__subtitle">AutoApprove</h3>

                            <p class="entity-card__description">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            </p>

                            <div class="entity-card__footer">
                                <a href="/" class="btn btn-text btn-text_thin">
                                    See Case Study
                                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}
