{{ define "main" }}

<div class="home-page">
    <div class="container">
        <h1 class="text-center">
            Supercharge your digital-first transformation
        </h1>

        <div class="home-page__animation">
            {{ partial "home-page-animation" }}
        </div>

        <div class="home-page__glow"></div>

        <div class="home-page__text-blocks">
            <div class="home-page__solutions">
                <h3>Our Solutions Include</h3>

                <ul class="brand-list">
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/microservices-and-apis">
                            Microservices & APIs
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/cloud-native-apps">
                            Cloud-native WEb & Mobil e Apps
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/machine-learning">
                            Machine Learning, AI, & IoT
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/human-centered-design">
                            Human Centered Design
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </a>
                    </li>
                    <li>
                        <a class="brand-list__item text-brand-secondary" href="/dev-ops-and-infrastructure">
                            DevOps & Infrastructure
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="hero-block home-page__call-to-action">
                <div class="home-page__call-to-action-body">
                    <div class="hero-block__title">
                            <span class="text-brand-secondary">
                                 We strive to provide technology solutions to empower enterprises through
                            </span>
                        <b class="mobile-capitalized">
                            amazing user experiences
                        </b>
                    </div>

                    <div class="hero-block__subtitle">
                        We use the latest cloud-native technologies to provide world class development & consulting services.
                    </div>
                </div>

                <div class="home-page__call-to-action-footer">
                    <a href="/get-in-touch">
                        <button class="btn btn-prim home-page__call-to-action-btn full-width">Get In Touch</button>
                    </a>
                    <a href="/witepaper">
                        <button class="btn btn-text home-page__call-to-action-btn full-width">
                            See Our New Whitepaper
                            <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="home-page__technologies">
            <a href="/mps">
                <img src="./svg/MSPartner_Logo.svg">
            </a>
            <a href="/azure">
                <img src="./svg/azure_white.svg">
            </a>
            <a href="/csharp">
                <img src="./svg/CSharp_white.svg">
            </a>
            <a href="/js">
                <img src="./svg/Javascript_Logo.svg">
            </a>
            <a href="/ts">
                <img src="./svg/Typescript_Logo.svg">
            </a>
            <a href="/react">
                <img src="./svg/React_Logo.svg">
            </a>
            <a href="/any-language">
                Any Language
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>
    </div>
</div>

<div class="brand-block brand-block_spaced">
    <div class="container">
        <h3 class="text-center text-brand-secondary text-light">Companies innovating with TechFabric</h3>

        <div class="home-page__innovating-companies">
            <a href="/approve-engine">
                <img width="185px" src="./svg/ApproveLogo.svg">
            </a>
            <a href="/cu-direct">
                <img src="./svg/CUDirect-logo.svg">
            </a>
            <a href="/mps">
                <img src="./svg/MSPartner_Logo.svg">
            </a>
            <a href="/klwines">
                <img src="./svg/K&L_Logo.svg">
            </a>
            <a href="/case-studies">
                See Case Studies
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="section-header">
        <h4 class="section-header__title">How we work</h4>
        <h3 class="mb-1">We Help Companies Unleash the Power of Cloud to Create Apps and APIs that Empower their Business.</h3>
    </div>

    <div class="section home-page__qualities row">
        <div class="col-md-6 col-xl-3 entity-card entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div>
                    <h3 class="entity-card__title">Lean Product Strategy</h3>

                    <p class="entity-card__description">
                        Amazing products start with critical thinking.
                        We apply intentional process to the early stage
                        product.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/primary-research">Primary Research</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/product-roadmaps">Product Roadmaps</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/iterative-testing">Iterative Testing</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/growth-analysis-strategy">Growth Analysis & Strategy</a>
                        </li>
                    </ul>
                </div>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div>
                    <h3 class="entity-card__title">Human Centered design</h3>

                    <p class="entity-card__description">
                        Our approach to design thinking goes beyond
                        problem solving by reimagining what’s
                        possible for your customer experience.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/product-design">Product Design</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/ux-research">UX Research</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/service-design">Service Design</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/design-systems">Design Systems</a>
                        </li>
                    </ul>
                </div>


                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div>
                    <h3 class="entity-card__title">Agile Software engineering</h3>

                    <p class="entity-card__description">
                        Senior expertise across popular tech stacks,
                        combined with platform & ops specialty,
                        builds the foundations for scale.
                    </p>

                    <ul class="brand-list entity-card__list">
                        <li>
                            <a class="brand-list__item" href="/modern-software-development">Modern Software Development</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/platform-architecture">Platform Architecture</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/apis-integrations">APIs & Integrations</a>
                        </li>
                        <li>
                            <a class="brand-list__item" href="/qa-test-delivery-automation">QA, Test & Delivery Automation</a>
                        </li>
                    </ul>

                </div>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 entity-card entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <h3 class="entity-card__title">Modern Cloud Infrastructure</h3>

                <p class="entity-card__description">
                    We define cloud services and infrastructure
                    for business outcomes. We provide digital,
                    analytics, and enterprise cloud services.
                </p>

                <ul class="brand-list entity-card__list">
                    <li>
                        <a class="brand-list__item" href="/cloud-native-applications">Cloud Native Applications</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/platform-architecture">Platform Architecture</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/devops-deployment">DevOps & Deployment</a>
                    </li>
                    <li>
                        <a class="brand-list__item" href="/aws-google-cloud-and-microsoft-azure">AWS, Google Cloud, and Microsoft Azure</a>
                    </li>
                </ul>

                <div class="entity-card__footer">
                    <a href="/" class="btn btn-text btn-text_thin">
                        Learn More
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="quote container section">
        <h3 class="quote__text">
            “By partnering with Tech Fabric experts, we were able to clearly define the problem areas and strategize solutions to bring immediate improvements to our operations.”
        </h3>
        <ul class="brand-list brand-list_centered entity-card__list">
            <li class="brand-list__item">Bryan Zucker, Vice President – K&L Wines</li>
        </ul>
    </div>

    <div class="featured-case-studies section">
        <div class="row">
            <div class="col-12">
                <div class="section-header section-header_single">
                    <h5 class="text-uppercase text-bold">Featured Case Studies</h5>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="case-study brand-block clearfix primary-case-study-block">
                    <div class="row">
                        <div class="col-xs-12 col-lg-5 entity-card">
                            <div class="case-study__image">
                                <img src="./svg/K&L_Logo-1.svg" class="client-logo">
                            </div>

                            <h5 class="text-uppercase">e-Commerce</h5>

                            <h3 class="mb-1">K&L Wine Merchants</h3>

                            <p class="entity-card__description">
                                Online wine retailer partnered with TechFabric to
                                digitally transform the way they manage their up-
                                front inventory costs and warehouse workflow.
                            </p>

                            <a href="/case-studies/kl-wine-merchants" class="btn btn-text btn-text_thin flex-end">
                                See Case Study
                                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                            </a>

                            <div class="case-study__img-bottom-left">
                                <img src="./images/Image 18.png" class="entity-card-image">
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-7 case-study__screenshots">
                            <img class="case-study__screenshot" src="./images/LivEx_RedTheme.png">
                            <img class="case-study__screenshot" src="./images/LivEx_RedTheme.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="case-study brand-block clearfix">
                    <div class="case-study__image">
                        <img src="./svg/cf-mark.svg" class="client-logo">
                    </div>

                    <h5 class="text-uppercase">Automotive</h5>

                    <h3 class="mb-1">CarFinance</h3>

                    <p class="entity-card__description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    </p>

                    <a href="/case-studies/car-finance" class="btn btn-text btn-text_thin flex-end">
                        See Case Study
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>

                <div class="case-study brand-block clearfix">
                    <div class="case-study__image">
                        <img src="./svg/ApproveEngine_LogoWhite.svg" class="client-logo">
                    </div>

                    <h5 class="text-uppercase">Automotive</h5>

                    <h3 class="mb-1">AutoApprove</h3>

                    <p class="entity-card__description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    </p>

                    <a href="/case-studies/autoapprove" class="btn btn-text btn-text_thin flex-end">
                        See Case Study
                        <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-block brand-block_spaced">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 response-block">
                <h4 class="section-header__title">People & culture</h4>

                <h3 class="section-header__subtitle response-block__quote">It’s always a delight when you partner with the right team</h3>

                <a href="/team" class="btn btn-text btn-text_thin">
                    Our Team
                    <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
                </a>
            </div>

            <div class="col-sm-12 col-lg-8 response-block">
                <div class="response">
                    <div class="response__image">
                        <img src="./images/Sam_ProfilePic@2x.png">
                    </div>

                    <div class="response__body">
                        <h3 class="text-light text-brand-secondary">“We work seamlessly just like an extension of your organization.”</h3>
                        <div class="response__author">
                            Sam Salima – TechFabric Lead UI/UX Designer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-12 news-ideas">
            <h4 class="section-header__title">News & ideas</h4>

            <h3 class="section-header__subtitle response-block__quote">Recent Insights From Our Blog</h3>

            <a href="/blog/recent/view-all" class="btn btn-text btn-text_thin">
                View All Posts
                <img class="brand-list__icon" src="./svg/outline-arrow_right_alt-24px.svg">
            </a>
        </div>

        <div class="col-lg-4 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__header">
                    <h4 class="entity-card__category">Machine learning</h4>
                    <span class="entity-card__time">5 min read</span>
                </div>

                <h3 class="entity-card__title">
                    AI and Machine Learning Dominate Auto Finance Innovation Summit
                </h3>

                <div class="entity-card__image-wrapper">
                    <a target="_blank" href="./images/Image-19@2x.jpg"><img class="entity-card__image" src="./images/Image-19@2x.jpg"></a>
                </div>

                <p class="entity-card__description">
                    The dust has settled from attending our first Auto Finance
                    Innovation Summit in San Diego and I am even more convinced that the auto finance industry is in
                    an accelerated state of application modernization.
                </p>
            </div>
        </div>

        <div class="col-lg-4 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__header">
                    <h4 class="entity-card__category">Azure service fabric</h4>
                    <span class="entity-card__time">5 min read</span>
                </div>

                <h3 class="entity-card__title">
                    Setting up production ready infrastructure for Microservices
                </h3>

                <div class="entity-card__image-wrapper">
                    <a target="_blank" href="./images/Image-22@2x.jpg"><img class="entity-card__image" src="./images/Image-22@2x.jpg"></a>
                </div>

                <p class="entity-card__description">
                    Creating production ready service fabric clusters to manage y
                    our Microservices and ensure it’s setup to handle increase in
                    traffic is very critical and can be done by following these series
                    of steps.
                </p>
            </div>
        </div>

        <div class="col-lg-4 entity-card-wrapper">
            <div class="entity-card entity-card_bg">
                <div class="entity-card__header">
                    <h4 class="entity-card__category">Azure service fabric</h4>
                    <span class="entity-card__time">5 min read</span>
                </div>

                <h3 class="entity-card__title">
                    Deploying Service Fabric Cluster to Existing VNET with Containers
                </h3>

                <div class="entity-card__image-wrapper">
                    <a target="_blank" href="./images/Image-23@2x.jpg"><img class="entity-card__image" src="./images/Image-23@2x.jpg"></a>
                </div>

                <p class="entity-card__description">
                    Service Fabric is a terrific platform for orchestrating your
                    Microservices. It provides many features like Service Discovery,
                    Fault Tolerance, Reverse Proxy etc., out of the box, making it
                    extremely easy to manage your Microservices.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="brand-block section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">
                    Let’s Make Something Amazing Together
                </h1>
            </div>
        </div>
    </div>
</div>

{{ partial "contact-form" }}

{{ end }}
