{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<div class="container">
    <h5 class="text-uppercase mb-3">Our Team</h5>

    {{ with .Title }}
    <h1 class="text-light mb-2">{{.}}</h1>
    {{ end }}

    <h3 class="text-brand-primary mb-3">{{ .Params.subtitle }}</h3>
</div>

<main class="container">
    <p>{{ .Params.description }}</p>

    <div class="team mb-5">
        {{ range .Pages.ByParam "order" }}
            {{ .Render "team-member" }}
        {{ end }}
    </div>
</main>

<div class="brand-block">
    <div class="container">
        <h3 class="text-center text-brand-secondary text-light">Let’s Make Something Amazing Together</h3>
    </div>
</div>

<div class="contact-form contact-form_bg">
    {{ partial "contact-form" }}
</div>
{{ end }}
